<template>
  <div class="login">
    <div class="login-box">
      <div class="login-content">
        <div class="login-title">
          <h1>管理平台 <span class="title-en">Management platform</span></h1>
        </div>
        <div class="login-form-box">
          <el-form :model="form" label-width="150px">
            <el-form-item label="账号：">
              <el-input clearable v-model="form.username"></el-input>
            </el-form-item>
            <el-form-item label="密码：">
              <el-input clearable type="password" v-model="form.password" @keyup.enter.native="handleLogin"></el-input>
            </el-form-item>
            <el-form-item class="login-btn">
              <el-button type="primary" @click="handleLogin">登录</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Login from './Login.js'
export default Login
</script>

<style>
.login {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 1200px;
  width: 100%;
  height: 100%;
  background: #c8d0e0 url(../../assets/images/bg_login.png) left center no-repeat;
  background-size: 100% 100%;
  color: #fff;
}
.login .login-box {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -417px;
  margin-top: -281px;
  width: 834px;
  height: 502px;
  background: transparent url(../../assets/images/bg_login_table.png) left center no-repeat;
  background-size: 100% 100%;
}
.login .login-box .login-content {
  padding: 10px 110px;
}
.login .login-box .login-content .login-title h1 {
  padding: 30px 0;
  color: #6e727b;
  font-size: 30px;
  font-weight: bold;
  -webkit-box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #afafaf;
}
.login .login-box .login-content .login-title h1 .title-en {
  padding-left: 10px;
  color: #adadad;
  font-size: 22px;
  font-weight: normal;
}
.login .login-box .login-content .login-form-box {
  padding: 40px 0;
}
.login .login-box .login-content .login-form-box .el-form .el-form-item {
  margin-bottom: 40px;
}
.login .login-box .login-content .login-form-box .el-form .el-form-item .el-form-item__label {
  font-size: 28px;
  color: #6e727b;
  line-height: 50px;
}
.login .login-box .login-content .login-form-box .el-form .el-form-item .el-form-item__content {
  width: 400px;
}
.login .login-box .login-content .login-form-box .el-form .el-form-item .el-form-item__content .el-input__inner {
  font-size: 28px;
  height: 50px;
  line-height: 50px;
  background-color: #f4f4f4;
  border-color: #adadad;
}
.login .login-box .login-content .login-form-box .el-form .login-btn {
  margin-bottom: 0;
  margin-top: 80px;
}
.login .login-box .login-content .login-form-box .el-form .login-btn .el-form-item__content {
  margin-left: 0!important;
  width: 100%;
  text-align: center;
}
.login .login-box .login-content .login-form-box .el-form .login-btn .el-form-item__content .el-button {
  width: 211px;
  height: 60px;
  font-size: 28px;
}
</style>
