<template>
  <div class="range clearfix">
    <div class="menu-wrapper fl">
      <v-menu></v-menu>
    </div>
    <div class="main fl">
      <div class="top">
        <span class="fl">当前位置：</span>
        <v-breadcrumb :breadcrumbList="breadcrumbList" class="fl"></v-breadcrumb>
      </div>
      <div class="bottom">
        <div class="tree-box">
          <el-tree
            ref="myTree"
            class="my-tree"
            :load.sync="loadNode"
            lazy
            node-key="id"
            :props="defaultProps"
            :expand-on-click-node="false"
            render-after-expand
            highlight-current
            @node-click="handleNodeClick"></el-tree>
        </div>
        <div class="device-box">
          <div class="condition">
            <el-form :inline="true" :model="rangeReq" class="inline-form" :rules="queryRules">
              <el-form-item label="范围名称:" prop="inventedDepartmentName">
                <el-input :clearable="true" v-model="rangeReq.inventedDepartmentName"></el-input>
              </el-form-item>
              <el-form-item class="submit-btn">
                <el-button type="primary" icon="el-icon-search" @click="_getRangeList">查询</el-button>
              </el-form-item>
            </el-form>
          </div>
          <div class="list">
            <el-button
              class="add-btn"
              type="primary"
              icon="el-icon-plus"
              v-if="hasPerm('sys:inventedDepartment:save')"
              @click="addHandle">新增</el-button>
            <div class="list-content">
              <el-table v-loading="loading" :data="rangeData.records" stripe height="648" style="width: 100%">
                <el-table-column type="index" label="序号" width="70"></el-table-column>
                <el-table-column prop="inventedDepartmentName" label="范围名称"></el-table-column>
                <el-table-column prop="departmentName" label="上级管理范围名称"></el-table-column>
                <el-table-column label="操作" width="260">
                  <template slot-scope="scope">
                    <a href="javascript:;" class="btn-click" v-if="hasPerm('sys:inventedDepartment:save')" @click="modifyHandle(scope.row)">修改</a>
                    <a href="javascript:;" class="btn-click" v-if="hasPerm('sys:inventedDepartment:delete')" @click="removeHandle(scope.row.id)">删除</a>
                  </template>
                </el-table-column>
              </el-table>
            </div>
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="rangeData.current"
              :page-size="rangeData.size"
              prev-text="上一页"
              next-text="下一页"
              layout="prev, pager, next, jumper"
              :total="rangeData.total">
            </el-pagination>
          </div>
        </div>
        <div class="footer">南京安智易达智能科技有限公司</div>
      </div>
    </div>
    <!-- 新增弹出层 -->
    <v-message-box
      :show="addBox.show"
      :title="addBox.title"
      :submitText="addBox.submitText"
      :cancleText="addBox.cancleText"
      :width="addBox.width"
      :height="addBox.height"
      @close="closeAddBox"
      @submit="submitAddHandle">
      <div class="form-box clearfix">
        <el-form ref="addForm" :inline="true" :model="addFormData" class="inline-form" :rules="addRules">
          <el-form-item label="范围名称:" prop="inventedDepartmentName">
            <el-input :clearable="true" v-model="addFormData.inventedDepartmentName"></el-input>
          </el-form-item>
        </el-form>
      </div>
    </v-message-box>
    <!--删除-->
    <v-message-box
      :show="delBox.show"
      :title="delBox.title"
      :submitText="delBox.submitText"
      :cancleText="delBox.cancleText"
      :width="delBox.width"
      :height="delBox.height"
      @close="closeDelBox"
      @submit="submitDelHandle">
      <div class="tip-message">
        您确定要删除该条数据吗？
      </div>
    </v-message-box>
  </div>
</template>

<script type="text/ecmascript-6">
import RangeManage from './RangeManage.js'
export default RangeManage
</script>

<style>
  .range {
    height: calc(100% - 80px);
  }
  .range .menu-wrapper {
    padding-top: 61px;
    width: 299px;
    height: calc(100% - 61px);
    border-right: 1px solid #d5dade;
  }
  .range .main {
    width: calc(100% - 300px);
    height: 100%;
  }
  .range .main .top {
    padding-left: 30px;
    width: calc(100% - 30px);
    height: 60px;
    line-height: 60px;
    box-shadow: 0 1px 0 #d5dade;
    font-size: 18px;
  }
  .range .main .top span {
    color: #666;
  }
  .range .main .bottom {
    height: calc(100% - 60px);
    background-color: #fff;
    position: relative;
  }
  /*tree style*/
  .range .main .bottom .tree-box {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 268px;
    overflow-x: auto;
    overflow-y: auto;
    background: #f6f8fe;
  }
  .range .main .bottom .tree-box .my-tree {
    width: 450px;
    height: 100%;
    /*overflow-y: auto;*/
    background: transparent;
  }
  .range .main .bottom .tree-box .my-tree .el-tree-node>.el-tree-node__children {
    overflow: visible;
  }
  .range .main .bottom .tree-box .my-tree .el-tree-node__expand-icon {
    font-size: 18px;
  }
  .range .main .bottom .tree-box .my-tree .el-tree-node__label {
    font-size: 18px;
  }
  .range .main .bottom .tree-box .my-tree .el-tree-node__content {
    height: 40px;
  }
  .range .main .bottom .tree-box .my-tree .is-current>.el-tree-node__content {
    background: #0080ff;
    color: #fff;
  }

  .range .main .bottom .device-box {
    position: absolute;
    left: 268px;
    top: 0;
    width: calc(100% - 268px);
    height: calc(100% - 38px);
    overflow-y: auto;
  }
  .range .main .bottom .condition {
    border-bottom: 1px solid #d5dade;
    padding: 15px 30px 0;
  }
  .range .main .bottom .condition .inline-form .el-form-item {
    margin: 0 15px 15px 0;
  }
  .el-cascader-menu__item {
    width: 200px!important;
  }
  .range .main .bottom .condition .inline-form .el-form-item .el-form-item__label {
    padding-right: 10px;
    font-size: 16px;
  }
  .range .main .bottom .condition .inline-form .el-form-item .el-form-item__content {
    width: 150px;
  }
  .range .main .bottom .condition .inline-form .submit-btn {
    margin: 0;
    width: auto;
  }
  .range .main .bottom .condition .inline-form .submit-btn .el-form-item__content {
    width: auto;
  }
  .range .el-button--primary {
    padding: 11px 20px;
    font-size: 16px;
    font-weight: bold;
  }
  .range .el-button--primary i {
    font-weight: bold;
  }
  .range .main .bottom .list {
    padding: 20px 30px;
  }
  .range .main .bottom .list .add-btn {
    margin-bottom: 10px;
  }
  .range .main .bottom .list .list-content {
    border: 1px solid #dae2ef;
    overflow: hidden;
  }
  .range .el-table {
    margin-bottom: -1px;
  }
  .range .el-table td, .el-table th.is-leaf {
    text-align: center;
    font-size: 18px;
    color: #333;
  }
  .range .el-table td {
    padding: 0;
    height: 49px;
  }
  .range .el-table th.is-leaf {
    height: 60px;
  }
  .range .el-table .btn-click {
    margin-right: 2px;
    font-size: 16px;
    color: #237ae4;
  }
  .range .el-table .control-btn {
    padding: 0;
    height: 30px;
    width: 110px;
    color: #0080ff;
    border-color: #0080ff;
    font-size: 16px;
    font-weight: normal;
  }
  .range .el-table .control-btn span {
    display: inline-block;
    vertical-align: middle;
  }
  .range .el-table .control-btn .icon {
    width: 18px;
    height: 18px;
    background: url(../../assets/images/icon_modify.png) left center no-repeat;
    background-size: 18px 18px;
  }
  .range .el-pagination {
    text-align: center;
    padding-top: 15px;
  }
  .range .el-pagination button {
    height: 32px;
    line-height: 32px;
  }
  .range .el-pagination button span {
    padding: 0 10px;
    height: 32px!important;
    line-height: 32px!important;
    font-size: 16px!important;
  }
  .range .el-pagination .el-pager li {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
  }
  .range .el-pagination .el-pagination__jump {
    font-size: 16px!important;
  }
  .range .el-pagination .el-pagination__editor.el-input .el-input__inner {
    height: 32px;
    font-size: 16px;
  }
  .range .main .bottom .footer {
    z-index: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px 0 10px 0;
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: #0080ff;
  }
  .range .el-date-editor.el-input, .range .el-date-editor.el-input__inner {
    width: 240px;
  }

  /* details box css */

  .range .details {
    height: 460px;
  }
  .range .details .details-left {
    margin-right: 30px;
    height: 100%;
    width: 320px;
    background-color: #f7f7f7;
    box-shadow: 1px 1px 10px 1px #d5dade;
  }
  .range .details .details-left ul {
    padding: 12px 0;
  }
  .range .details .details-left ul li {
    padding: 12px 30px;
    font-size: 16px;
  }
  .range .details .details-left ul li .name {
    display: inline-block;
    width: 80px;
    text-align: right;
    color: #666;
  }
  .range .details .details-left ul li .value {
    display: inline-block;
    width: 180px;
    color: #333;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .range .details .details-right {
    width: 668px;
    border: 1px solid #d5dade;
    border-radius: 4px;
    overflow: hidden;
  }
  /*删除*/
  .range .tip-message {
    line-height: 100px;
    font-size: 18px;
    color: #333;
    text-align: center;
  }
  /*新增弹出层*/
  .range .form-box {
    padding-top: 76px;
    padding-left: 150px;
  }
  .range .form-box .el-form .el-form-item .el-form-item__label {
    font-size: 20px;
  }
  .range .form-box .el-form .el-form-item .el-form-item__content {
    width: 350px;
  }
</style>
