<template>
  <div class="device-manage clearfix">
    <div class="menu-wrapper fl">
      <v-menu></v-menu>
    </div>
    <div class="main fl">
      <div class="top">
        <span class="fl">当前位置：</span>
        <v-breadcrumb :breadcrumbList="breadcrumbList" class="fl"></v-breadcrumb>
      </div>
      <div class="bottom">
        <el-input
          class="tree-node-search"
          clearable
          placeholder="输入机构名称快速查找"
          v-model="filterText">
        </el-input>
        <div class="tree-box">
          <el-tree
            ref="myTree"
            class="my-tree"
            :data="treeData"
            :props="defaultProps"
            :highlight-current="true"
            :accordion="true"
            :expand-on-click-node="false"
            :filter-node-method="filterNode"
            @node-click="handleNodeClick"></el-tree>
        </div>
        <div class="device-box">
          <div class="condition">
            <el-form :inline="true" :model="deviceReq" class="inline-form">
              <el-form-item label="设备名称:">
                <el-input :clearable="true" v-model="deviceReq.faceTerminalName"></el-input>
              </el-form-item>
              <el-form-item label="设备类型:">
                <el-select :clearable="true" v-model="deviceReq.faceTerminalType">
                  <el-option
                  v-for="dType in deviceTypes"
                  :key="dType.typeCode"
                  :label="dType.typeName"
                  :value="dType.typeCode"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="对比源:">
                <el-cascader
                  clearable
                  :options="originData"
                  :props="originProps"
                  :change-on-select="true"
                  @change="changeOrigin"
                ></el-cascader>
              </el-form-item>
              <el-form-item label="IP地址:">
                <el-input :clearable="true" v-model="deviceReq.faceTerminalIp"></el-input>
              </el-form-item>
              <el-form-item class="submit-btn">
                <el-button type="primary" icon="el-icon-search" @click="_getDeviceList">查询</el-button>
              </el-form-item>
            </el-form>
          </div>
          <div class="list">
            <el-button class="add-btn" type="primary" icon="el-icon-plus" v-if="hasPerm('sys:faceTerminal:add')" @click="addHandle">新增</el-button>
            <div class="list-content">
              <el-table v-loading="loading" :data="deviceData.terminalList" stripe height="648" style="width: 100%">
                <el-table-column type="index" label="序号" width="70"></el-table-column>
                <el-table-column prop="faceTerminalName" label="设备名称"></el-table-column>
                <el-table-column prop="faceTerminalType" label="设备类型"></el-table-column>
                <el-table-column prop="faceTerminalIp" label="IP地址"></el-table-column>
                <el-table-column prop="faceTerminalPort" label="端口"></el-table-column>
                <el-table-column prop="faceTerminalMac" label="mac地址"></el-table-column>
                <el-table-column label="操作" width="260">
                  <template slot-scope="scope">
                    <a href="javascript:;" class="btn-click" @click="detailsHandle(scope.row.terminalId)">详细</a>
                    <a href="javascript:;" class="btn-click" v-if="hasPerm('sys:faceTerminal:update')" @click="modifyHandle(scope.row.terminalId)">修改</a>
                    <a href="javascript:;" class="btn-click" v-if="hasPerm('sys:faceTerminal:delete')" @click="removeHandle(scope.row.terminalId)">删除</a>
                    <el-button class="control-btn" v-if="hasPerm('terminalFittings:addTermFittings')" @click="bindComponent(scope.row.terminalId)"><span class="icon"></span> <span>部件绑定</span></el-button>
                  </template>
                </el-table-column>
              </el-table>
            </div>
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="deviceData.current"
              :page-size="deviceData.size"
              prev-text="上一页"
              next-text="下一页"
              layout="prev, pager, next, jumper"
              :total="deviceData.total">
            </el-pagination>
          </div>
        </div>
        <div class="footer">南京安智易达智能科技有限公司</div>
      </div>
    </div>
    <!-- 详情弹出层 -->
    <v-message-box
      :show="box.show"
      :title="box.title"
      :submitText="box.submitText"
      :cancleText="box.cancleText"
      :width="box.width"
      :height="box.height"
      @close="closeDetailBox"
      @submit="submitHandle">
      <div class="details clearfix">
        <div class="details-left fl">
          <ul>
            <li><span class="name">设备名称：</span><span class="value" :title="detailsData.faceTerminalName || ''">{{detailsData.faceTerminalName || ''}}</span></li>
            <li><span class="name">设备类型：</span><span class="value" :title="detailsData.showTerminalType || ''">{{detailsData.showTerminalType || ''}}</span></li>
            <li><span class="name">IP地址：</span><span class="value">{{detailsData.faceTerminalIp || ''}}</span></li>
            <li><span class="name">端口：</span><span class="value">{{detailsData.faceTerminalPort || ''}}</span></li>
            <li><span class="name">mac地址：</span><span class="value">{{detailsData.faceTerminalMac || ''}}</span></li>
            <li><span class="name">授权码：</span><span class="value" :title="detailsData.authorizationNum || ''">{{detailsData.authorizationNum || ''}}</span></li>
            <li><span class="name">上报模式：</span><span
              v-if="detailsData.reportMode === '0'" class="value">主动上报</span><span
              v-else-if="detailsData.reportMode === '1'" class="value">被动上报</span></li>
            <li><span class="name">设备状态：</span><span
              v-if="detailsData.faceTerminalStatus === '0'" class="value">异常</span><span
              v-else-if="detailsData.faceTerminalStatus === '1'" class="value">在线</span><span
              v-else-if="detailsData.faceTerminalStatus === '2'" class="value">离线</span></li>
            <li><span class="name">码流模式：</span><span
              v-if="detailsData.streamMode === '0'" class="value">主码流</span><span
              v-else-if="detailsData.streamMode === '1'" class="value">子码流1</span><span
              v-else-if="detailsData.streamMode === '2'" class="value">子码流2</span></li>
            <li><span class="name">设备驱动：</span><span class="value"
              v-if="detailsData.faceTerminalDriverId === '0'">设备驱动</span><span
              v-else-if="detailsData.faceTerminalDriverId === '1'">人员导入服务驱动</span></li>
            <li><span class="name">场景类型：</span><span class="value">{{detailsData.placeType}}</span></li>
          </ul>
        </div>
        <div class="details-right fl">
          <el-table v-loading="loadingDetails" :data="detailsOfComponent" stripe height="460" style="width: 100%">
              <el-table-column type="index" label="序号" width="70"></el-table-column>
              <el-table-column prop="fittingsName" label="部件名称"></el-table-column>
              <el-table-column prop="nameCn" label="类型"></el-table-column>
              <el-table-column prop="fittingsModel" label="型号"></el-table-column>
              <el-table-column prop="isEnable" label="状态"></el-table-column>
            </el-table>
        </div>
      </div>
    </v-message-box>
    <!-- 新增弹出层 -->
    <v-message-box
      :show="addBox.show"
      :title="addBox.title"
      :submitText="addBox.submitText"
      :cancleText="addBox.cancleText"
      :width="addBox.width"
      :height="addBox.height"
      @close="closeAddBox"
      @submit="submitAddHandle">
      <div class="form-box clearfix">
        <div class="box-left fl">
          <el-form ref="addForm" :inline="true" :model="addFormData" :rules="rules">
            <el-form-item label="设备名称:" prop="faceTerminalName">
              <el-input clearable v-model="addFormData.faceTerminalName"></el-input>
            </el-form-item>
            <el-form-item label="登录密码:" prop="faceTerminalPassword">
              <el-input clearable v-model="addFormData.faceTerminalPassword"></el-input>
            </el-form-item>
            <el-form-item label="登录账户:" prop="faceTerminalUser">
              <el-input clearable v-model="addFormData.faceTerminalUser"></el-input>
            </el-form-item>
            <el-form-item label="设备状态:" prop="faceTerminalStatus">
              <el-select clearable v-model="addFormData.faceTerminalStatus">
                <el-option label="异常" value="0"></el-option>
                <el-option label="在线" value="1"></el-option>
                <el-option label="离线" value="2"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="设备类型:" prop="faceTerminalType">
              <el-select clearable v-model="addFormData.faceTerminalType">
                <el-option
                  v-for="type in deviceTypesAddOrMod"
                  :key="type.typeCode"
                  :label="type.typeName"
                  :value="type.typeCode"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="设备驱动:" prop="faceTerminalDriverId">
              <el-select clearable v-model="addFormData.faceTerminalDriverId">
                <el-option label="设备驱动" value="0"></el-option>
                <el-option label="人员导入服务驱动" value="1"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="设备通道号:" prop="faceTerminalChannel">
              <el-input clearable v-model="addFormData.faceTerminalChannel"></el-input>
            </el-form-item>
            <el-form-item label="IP地址:" prop="faceTerminalIp">
              <el-input clearable v-model="addFormData.faceTerminalIp"></el-input>
            </el-form-item>
            <el-form-item label="mac地址:" prop="faceTerminalMac">
              <el-input clearable v-model="addFormData.faceTerminalMac" placeholder="如：00-E0-20-1C-7C-0C"></el-input>
            </el-form-item>
            <el-form-item label="码流模式:" prop="streamMode">
              <el-select clearable v-model="addFormData.streamMode">
                <el-option label="主码流" value="0"></el-option>
                <el-option label="子码流1" value="1"></el-option>
                <el-option label="子码流2" value="2"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="端口:" prop="faceTerminalPort">
              <el-input clearable v-model="addFormData.faceTerminalPort"></el-input>
            </el-form-item>
            <el-form-item label="上线时间:" prop="regTime">
              <el-date-picker clearable v-model="addFormData.regTime" value-format="yyyyMMdd" type="date"></el-date-picker>
            </el-form-item>
            <el-form-item label="上报模式:" prop="reportMode">
              <el-select clearable v-model="addFormData.reportMode">
                <el-option label="主动上报" value="0"></el-option>
                <el-option label="被动上报" value="1"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="有效期:">
              <el-date-picker clearable v-model="addFormData.authorizationExamineTime" value-format="yyyyMMdd" type="date" placeholder="为空则表示永久有效"></el-date-picker>
            </el-form-item>
            <el-form-item label="场景类型:" prop="placeId">
              <el-select clearable v-model="addFormData.placeId">
                <el-option
                  v-for="place in placeTypes"
                  :key="place.id"
                  :label="place.name"
                  :value="place.id"></el-option>
              </el-select>
            </el-form-item>
          </el-form>
        </div>
        <div class="box-right fr">
          <div class="head">对比源</div>
          <div class="content">
            <el-tree
              class="my-tree"
              ref="origin"
              show-checkbox
              node-key="id"
              @check-change="handleCheckChange"
              :data="originTreeData"
              :props="originProps"
              :default-expand-all="true"
              :default-checked-keys="addFormData.regionIds"
              :highlight-current="true"></el-tree>
            </div>
        </div>
      </div>
    </v-message-box>
    <!--删除-->
    <v-message-box
      :show="delBox.show"
      :title="delBox.title"
      :submitText="delBox.submitText"
      :cancleText="delBox.cancleText"
      :width="delBox.width"
      :height="delBox.height"
      @close="closeDelBox"
      @submit="submitDelHandle">
      <div class="tip-message">
        您确定要删除该条数据吗？
      </div>
    </v-message-box>
  </div>
</template>

<script>
import DeviceManage from './DeviceManage.js'
export default DeviceManage
</script>

<style>
.device-manage {
  height: calc(100% - 80px);
}
.device-manage .menu-wrapper {
  padding-top: 61px;
  width: 299px;
  height: calc(100% - 61px);
  border-right: 1px solid #d5dade;
}
.device-manage .main {
  width: calc(100% - 300px);
  height: 100%;
}
.device-manage .main .top {
  padding-left: 30px;
  width: calc(100% - 30px);
  height: 60px;
  line-height: 60px;
  box-shadow: 0 1px 0 #d5dade;
  font-size: 18px;
}
.device-manage .main .top span {
  color: #666;
}
.device-manage .main .bottom {
  height: calc(100% - 60px);
  background-color: #fff;
  position: relative;
}
.device-manage .main .bottom .tree-node-search {
  position: absolute;
  top: 0;
  left: 0;
  width: 268px;
}
/*tree style*/
.device-manage .main .bottom .tree-box {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 40px;
  height: calc(100% - 40px);
  width: 268px;
  overflow-x: auto;
  overflow-y: auto;
  background: #f6f8fe;
}
.device-manage .main .bottom .tree-box .my-tree {
  width: 450px;
  height: 100%;
  /*overflow-y: auto;*/
  background: transparent;
}
.device-manage .main .bottom .tree-box .my-tree .el-tree-node>.el-tree-node__children {
  overflow: visible;
}
.device-manage .main .bottom .tree-box .my-tree .el-tree-node__expand-icon {
  font-size: 18px;
}
.device-manage .main .bottom .tree-box .my-tree .el-tree-node__label {
  font-size: 18px;
}
.device-manage .main .bottom .tree-box .my-tree .el-tree-node__content {
  height: 40px;
}
.device-manage .main .bottom .tree-box .my-tree .is-current>.el-tree-node__content {
  background: #0080ff;
  color: #fff;
}

.device-manage .main .bottom .device-box {
  position: absolute;
  left: 268px;
  top: 0;
  width: calc(100% - 268px);
  height: calc(100% - 38px);
  overflow-y: auto;
}
.device-manage .main .bottom .condition {
  border-bottom: 1px solid #d5dade;
  padding: 15px 30px 0;
}
.device-manage .main .bottom .condition .inline-form .el-form-item {
  margin: 0 15px 15px 0;
}
.el-cascader-menu__item {
  width: 200px!important;
}
.device-manage .main .bottom .condition .inline-form .el-form-item .el-form-item__label {
  padding-right: 10px;
  font-size: 16px;
}
.device-manage .main .bottom .condition .inline-form .el-form-item .el-form-item__content {
  width: 150px;
}
.device-manage .main .bottom .condition .inline-form .submit-btn {
  margin: 0;
  width: auto;
}
.device-manage .main .bottom .condition .inline-form .submit-btn .el-form-item__content {
  width: auto;
}
.device-manage .el-button--primary {
  padding: 11px 20px;
  font-size: 16px;
  font-weight: bold;
}
.device-manage .el-button--primary i {
  font-weight: bold;
}
.device-manage .main .bottom .list {
  padding: 20px 30px;
}
.device-manage .main .bottom .list .add-btn {
  margin-bottom: 10px;
}
.device-manage .main .bottom .list .list-content {
  border: 1px solid #dae2ef;
  overflow: hidden;
}
.device-manage .el-table {
  margin-bottom: -1px;
}
.device-manage .el-table td, .el-table th.is-leaf {
  text-align: center;
  font-size: 18px;
  color: #333;
}
.device-manage .el-table td {
  padding: 0;
  height: 49px;
}
.device-manage .el-table th.is-leaf {
  height: 60px;
}
.device-manage .el-table .btn-click {
  margin-right: 2px;
  font-size: 16px;
  color: #237ae4;
}
.device-manage .el-table .control-btn {
  padding: 0;
  height: 30px;
  width: 110px;
  color: #0080ff;
  border-color: #0080ff;
  font-size: 16px;
  font-weight: normal;
}
.device-manage .el-table .control-btn span {
  display: inline-block;
  vertical-align: middle;
}
.device-manage .el-table .control-btn .icon {
  width: 18px;
  height: 18px;
  background: url(../../assets/images/icon_modify.png) left center no-repeat;
  background-size: 18px 18px;
}
.device-manage .el-pagination {
  text-align: center;
  padding-top: 15px;
}
.device-manage .el-pagination button {
  height: 32px;
  line-height: 32px;
}
.device-manage .el-pagination button span {
  padding: 0 10px;
  height: 32px!important;
  line-height: 32px!important;
  font-size: 16px!important;
}
.device-manage .el-pagination .el-pager li {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
}
.device-manage .el-pagination .el-pagination__jump {
  font-size: 16px!important;
}
.device-manage .el-pagination .el-pagination__editor.el-input .el-input__inner {
  height: 32px;
  font-size: 16px;
}
.device-manage .main .bottom .footer {
  z-index: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 0 10px 0;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #0080ff;
}
.device-manage .el-date-editor.el-input, .device-manage .el-date-editor.el-input__inner {
  width: 240px;
}

/* details box css */

.device-manage .details {
  height: 460px;
}
.device-manage .details .details-left {
  margin-right: 30px;
  height: 100%;
  width: 320px;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 10px 1px #d5dade;
}
.device-manage .details .details-left ul {
  padding: 12px 0;
}
.device-manage .details .details-left ul li {
  padding: 12px 30px;
  font-size: 16px;
}
.device-manage .details .details-left ul li .name {
  display: inline-block;
  width: 80px;
  text-align: right;
  color: #666;
}
.device-manage .details .details-left ul li .value {
  display: inline-block;
  width: 180px;
  color: #333;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.device-manage .details .details-right {
  width: 668px;
  border: 1px solid #d5dade;
  border-radius: 4px;
  overflow: hidden;
}

/*删除*/
.device-manage .tip-message {
  line-height: 100px;
  font-size: 18px;
  color: #333;
  text-align: center;
}
/*新增弹出层*/
.device-manage .form-box .box-left {
  margin-top: 30px;
  width: 840px;
  /*height: 420px;*/
}
.device-manage .form-box .box-left .el-form .el-form-item {
  margin: 0 0 32px 0;
}
.device-manage .form-box .box-left .el-form .el-form-item .el-form-item__label {
  width: 150px;
  font-size: 18px;
  color: #333;
}
.device-manage .form-box .box-left .el-form .el-form-item .el-input__inner {
  border-color: #acacac;
  border-radius: 4px;
  height: 40px;
  width: 240px;
}

.device-manage .form-box .box-right {
  margin-top: 30px;
  margin-right: 30px;
  width: 300px;
  height: 550px;
  background: #F6F8FE;
}
.device-manage .form-box .box-right .head {
  padding: 0 30px;
  background: linear-gradient(#DBE2F1, #EBEEF5);
  color: #333;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
}
.device-manage .form-box .box-right .content {
  max-height: 500px;
  overflow: auto;
}
.device-manage .form-box .box-right .content .my-tree {
  background: transparent;
}
.device-manage .form-box .box-right .content .my-tree .el-tree-node__content {
  height: 32px;
}
.device-manage .form-box .box-right .content .my-tree .el-checkbox__inner {
  border-color: #acacac;
  width: 16px;
  height: 16px;
}
.device-manage .form-box .box-right .content .my-tree .el-checkbox__inner::after {
  height: 8px;
  left: 5px;
}
.device-manage .form-box .box-right .content .my-tree .el-checkbox__inner::before {
  top: 6px;
}
.device-manage .form-box .box-right .content .my-tree .el-tree-node__label {
  color: #333;
  font-size: 16px;
}
</style>
