<template>
  <div class="menu">
    <ul class="parent-menu">
      <li v-for="(parentItem, parentIndex) in menuList" :key="parentIndex">
        <div class="menu-title clearfix">
          <span class="icon fl"><img :src="parentItem.image"></span>
          <span class="name fl">{{parentItem.name}}</span>
        </div>
        <ul class="child-menu">
          <li
          v-for="(childItem, childIndex) in menuList[parentIndex].child"
          @click="selectMenuItem(childItem.page)"
          :class="{'active': currentIndex === childItem.page}"
          :key="childIndex">
            <span class="icon fl"><img :src="childItem.image"></span>
            <span class="name fl">{{childItem.name}}</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<script>
import menu from 'assets/menuList.js'
export default {
  data () {
    return {
      menuList: [],
      currentIndex: this.$route.name
    }
  },
  props: {

  },
  mounted () {
    let menuTree = JSON.parse(localStorage.getItem('menuTree'))
    // this.menuList = menu
    // keep route's name equas currentIndex
    this.currentIndex = this.$route.name
    this.isShowMenu(menuTree)
  },
  methods: {
    selectMenuItem (page) {
      this.$router.push({
        name: page
      })
    },
    isShowMenu (menuTree) {
      for (let i = 0; i < menuTree.length; i++) {
        this.menuList.push(menu[menuTree[i].url])
        let list = menuTree[i].list
        if (list) {
          this.menuList[i].child = []
          for (let j = 0; j < list.length; j++) {
            if (typeof menu[list[j].url] !== 'undefined') {
              this.menuList[i].child.push(menu[list[j].url])
            }
          }
        }
      }
    }
  }
}
</script>

<style scoped>
.menu {
  width: 100%;
}
.menu .parent-menu {
  color: #333;
  font-size: 18px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
  -ms-user-select: none;
  user-select: none;
}
.menu .parent-menu .menu-title {
  background-color: #e0e6f3;
  height: 50px;
  padding-left: 30px;
}
.menu .parent-menu .menu-title .icon {
  display: inline-block;
  width: 23px;
  height: 20px;
  margin: 15px 0;
}
.menu .parent-menu .menu-title .icon img {
  width: 100%;
  height: 100%;
}
.menu .parent-menu .menu-title .name {
  line-height: 50px;
  padding-left: 18px;
}
.menu .parent-menu .child-menu li {
  height: 50px;
  padding-left: 82px;
}
.menu .parent-menu .child-menu li:hover {
  background-color: #d6deeb;
}
.menu .parent-menu .child-menu li.active {
  background-color: #d6deeb;
  border-right: 1px solid #237ae4;
}
.menu .parent-menu .child-menu li .icon {
  display: inline-block;
  width: 29px;
  height: 29px;
  margin: 11px 0 10px 0;
}
.menu .parent-menu .child-menu li .icon img {
  width: 100%;
  height: 100%;
}
.menu .parent-menu .child-menu li .name {
  line-height: 50px;
  padding-left: 19px;
}
</style>
