<template>
  <div class="user-manage clearfix">
    <div class="menu-wrapper fl">
      <v-menu></v-menu>
    </div>
    <div class="main fl">
      <div class="top">
        <span class="fl">当前位置：</span>
        <v-breadcrumb :breadcrumbList="breadcrumbList" class="fl"></v-breadcrumb>
      </div>
      <!-- 新增页面 -->
      <add-modify-manage v-if="show" :propsData="propsData" @cancelAdd="cancelAdd"></add-modify-manage>

      <div class="bottom" v-else>
        <div class="tree-box">
          <el-tree
            ref="myTree"
            class="my-tree"
            :load.sync="loadNode"
            node-key="id"
            lazy
            :props="defaultProps"
            :expand-on-click-node="false"
            render-after-expand
            highlight-current
            @node-click="handleNodeClick"></el-tree>
        </div>
        <div class="bottom-content">
          <div class="condition">
            <el-form :inline="true" :model="userReq" class="inline-form">
              <el-form-item label="用户名:">
                <el-input :clearable="true" v-model="userReq.name"></el-input>
              </el-form-item>
              <el-form-item label="姓名:">
                <el-input :clearable="true" v-model="userReq.nameCn"></el-input>
              </el-form-item>
              <el-form-item label="警号:">
                <el-input :clearable="true" v-model="userReq.policeNum"></el-input>
              </el-form-item>
              <el-form-item class="submit-btn">
                <el-button type="primary" icon="el-icon-search" @click="_getUserList">查询</el-button>
              </el-form-item>
            </el-form>
          </div>
          <div class="list">
            <el-button
              class="add-btn"
              type="primary"
              icon="el-icon-plus"
              v-if="hasPerm('sys:user:add')"
              @click="handleAddModify(null)">新增</el-button>
            <div class="list-content">
              <el-table v-loading="loading" :data="userData.records" stripe height="550" style="width: 100%">
                <el-table-column type=index label="序号" width="70"></el-table-column>
                <el-table-column prop="name" label="用户名"></el-table-column>
                <el-table-column prop="nameCn" label="姓名"></el-table-column>
                <el-table-column prop="policeNum" label="警号"></el-table-column>
                <el-table-column prop="deptName" label="单位部门"></el-table-column>
                <el-table-column prop="isEnable" label="状态">
                  <template slot-scope="scope">
                    <span class="enable" v-if="scope.row.isEnable === '0'">{{scope.row.isEnableName}}</span>
                    <span class="able" v-else-if="scope.row.isEnable === '1'">{{scope.row.isEnableName}}</span>
                  </template>
                </el-table-column>
                <el-table-column label="操作" width="140">
                  <template slot-scope="scope">
                    <a href="javascript:;" class="detail" @click="openDialog('详细', scope.row)">详细</a>
                    <a href="javascript:;" class="detail" v-if="hasPerm('sys:user:update')" @click="handleAddModify(scope.row)">修改</a>
                    <a href="javascript:;" class="detail" v-if="hasPerm('sys:user:delete')" @click="openDialog('删除', scope.row)">删除</a>
                  </template>
                </el-table-column>
              </el-table>
            </div>
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="userData.current"
              :page-size="userData.size"
              prev-text="上一页"
              next-text="下一页"
              layout="prev, pager, next, jumper"
              :total="userData.total">
            </el-pagination>
          </div>
          <!-- <div class="footer">南京安智易达智能科技有限公司</div> -->
        </div>
      </div>
    </div>
    <!-- 详情、删除弹出层 -->
    <v-message-box
      :show="box.show"
      :title="box.title"
      :submitText="box.submitText"
      :cancleText="box.cancleText"
      :width="box.width"
      :height="box.height"
      @close="closeBox"
      @submit="submitHandle">
      <div v-if="dialogType === '删除'" class="tip-message">
        您确定要删除该条数据吗？
      </div>
      <ul v-if="dialogType === '详细'" class="detail-list">
        <li><span class="name">用户名：</span><span class="value">{{detailData.name}}</span></li>
        <li><span class="name">姓名：</span><span class="value">{{detailData.nameCn}}</span></li>
        <li><span class="name">身份证：</span><span class="value">{{detailData.cardNum}}</span></li>
        <li><span class="name">电话：</span><span class="value">{{detailData.phone}}</span></li>
        <li><span class="name">警号：</span><span class="value">{{detailData.policeNum}}</span></li>
        <li><span class="name">单位部门：</span><span class="value">{{detailData.deptName}}</span></li>
        <li><span class="name">状态：</span><span class="value">{{detailData.isEnableName}}</span></li>
        <li><span class="name">用户角色：</span><span class="value">{{detailData.roleName}}</span></li>
      </ul>
    </v-message-box>
  </div>
</template>

<script>
import UserManage from './UserManage.js'
export default UserManage
</script>

<style>
.user-manage {
  height: calc(100% - 80px);
}
.user-manage .menu-wrapper {
  padding-top: 61px;
  width: 299px;
  height: calc(100% - 61px);
  border-right: 1px solid #d5dade;
}
.user-manage .main {
  width: calc(100% - 300px);
  height: 100%;
}
.user-manage .main .top {
  padding-left: 30px;
  width: calc(100% - 30px);
  height: 60px;
  line-height: 60px;
  box-shadow: 0 1px 0 #d5dade;
  font-size: 18px;
}
.user-manage .main .top span {
  color: #666;
}
.user-manage .main .bottom {
  height: calc(100% - 60px);
  background-color: #fff;
  position: relative;
}
/* 左侧树 */
.user-manage .main .bottom .tree-box {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 268px;
  overflow-x: auto;
  overflow-y: auto;
  background: #f6f8fe;
}
.user-manage .main .bottom .tree-box .my-tree {
  width: 450px;
  height: calc(100% - 20px);
  /*overflow: auto;*/
  background: #f6f8fe;
}
.user-manage .main .bottom .tree-box .my-tree .el-tree-node>.el-tree-node__children {
  overflow: visible;
}
.user-manage .main .bottom .tree-box .my-tree .el-tree-node__expand-icon {
  font-size: 18px;
}
.user-manage .main .bottom .tree-box .my-tree .el-tree-node__label {
  font-size: 18px;
}
.user-manage .main .bottom .tree-box .my-tree .el-tree-node__content {
  height: 40px;
}
.user-manage .main .bottom .tree-box .my-tree .is-current>.el-tree-node__content {
  background: #0080ff;
  color: #fff;
}
.user-manage .main .bottom .bottom-content {
  position: absolute;
  left: 288px;
  top: 0;
  width: calc(100% - 288px);
  overflow-y: auto;
}

.user-manage .main .bottom .condition {
  border-bottom: 1px solid #d5dade;
  padding: 15px 30px 0;
}
.user-manage .main .bottom .condition .inline-form .el-form-item {
  margin: 0 15px 15px 0;
}
.user-manage .main .bottom .condition .inline-form .el-form-item .el-form-item__label {
  padding-right: 10px;
  font-size: 16px;
}
.user-manage .main .bottom .condition .inline-form .el-form-item .el-form-item__content {
  width: 150px;
}
.user-manage .main .bottom .condition .inline-form .submit-btn {
  margin: 0;
  width: auto;
}
.user-manage .main .bottom .condition .inline-form .submit-btn .el-form-item__content {
  width: auto;
}
.user-manage .el-button--primary {
  padding: 11px 20px;
  font-size: 16px;
  font-weight: bold;
}
.user-manage .el-button--primary i {
  font-weight: bold;
}
.user-manage .main .bottom .list {
  padding: 20px 30px;
}
.user-manage .main .bottom .list .add-btn {
  margin-bottom: 10px;
}
.user-manage .main .bottom .list .list-content {
  border: 1px solid #dae2ef;
  overflow: hidden;
}
.user-manage .el-table {
  margin-bottom: -1px;
}
.user-manage .el-table td, .el-table th.is-leaf {
  text-align: center;
  font-size: 18px;
  color: #333;
}
.user-manage .el-table td {
  padding: 0;
  height: 49px;
}
.user-manage .el-table .able {
  color: #42b452;
}
.user-manage .el-table .enable {
  color: #f67809;
}
.user-manage .el-table th.is-leaf {
  height: 60px;
}
.user-manage .el-table .detail {
  font-size: 18px;
  color: #237ae4;
}

.user-manage .el-pagination {
  text-align: center;
  padding-top: 15px;
}
.user-manage .el-pagination button {
  height: 32px;
  line-height: 32px;
}
.user-manage .el-pagination button span {
  padding: 0 10px;
  height: 32px!important;
  line-height: 32px!important;
  font-size: 16px!important;
}
.user-manage .el-pagination .el-pager li {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
}
.user-manage .el-pagination .el-pagination__jump {
  font-size: 16px!important;
}
.user-manage .el-pagination .el-pagination__editor.el-input .el-input__inner {
  height: 32px;
  font-size: 16px;
}
.user-manage .main .bottom .footer {
  padding: 10px 0 10px 0;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #0080ff;
}

.user-manage .send-form {
  padding: 20px 40px 25px 20px;
}
.user-manage .send-form .el-form-item__label {
  color: #333;
  font-size: 22px;
  height: 50px;
  line-height: 50px;
}
.user-manage .send-form .el-input__inner {
  height: 50px!important;
  line-height: 50px;
  font-size: 22px;
}
.user-manage .send-form .el-select {
  width: 100%;
}

.user-manage .tip-message {
  line-height: 100px;
  font-size: 18px;
  color: #333;
  text-align: center;
}
.user-manage .detail-list {
  padding: 0 10px;
  font-size: 18px;
  color: #333;
}
.user-manage .detail-list li {
  line-height: 40px;
}
.user-manage .detail-list li span {
  display: inline-block;
  vertical-align: middle;
}
.user-manage .detail-list li span.name {
  color: #666;
  width: 100px;
  text-align: right;
}
.user-manage .detail-list li span.value {
  padding-left: 10px;
  width: 620px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>
