<template>
  <div class="role-manage clearfix">
    <div class="menu-wrapper fl">
      <v-menu></v-menu>
    </div>
    <div class="main fl">
      <div class="top">
        <span class="fl">当前位置：</span>
        <v-breadcrumb :breadcrumbList="breadcrumbList" class="fl"></v-breadcrumb>
      </div>
      <!-- 新增页面 -->
      <add-modify-manage v-if="show" :propsData="propsData" @cancelAdd="cancelAdd"></add-modify-manage>

      <div class="bottom" v-else>
          <div class="condition">
            <el-form :inline="true" :model="roleReq" class="inline-form">
              <el-form-item label="角色名称:">
                <el-input clearable v-model="roleReq.roleName"></el-input>
              </el-form-item>
              <el-form-item label="状态:">
                <el-select clearable v-model="roleReq.isEnable">
                  <el-option label="冻结" value="0"></el-option>
                  <el-option label="启用" value="1"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item class="submit-btn">
                <el-button type="primary" icon="el-icon-search" @click="_getRoleList">查询</el-button>
              </el-form-item>
            </el-form>
          </div>
          <div class="list">
            <el-button
              class="add-btn"
              type="primary"
              icon="el-icon-plus"
              v-if="hasPerm('sys:role:add')"
              @click="handleAddModify(null)">新增</el-button>
            <div class="list-content">
              <el-table v-loading="loading" :data="roleData.records" stripe height="550" style="width: 100%">
                <el-table-column type=index label="序号" width="70"></el-table-column>
                <el-table-column prop="name" label="角色编码"></el-table-column>
                <el-table-column prop="nameCn" label="角色名称"></el-table-column>
                <el-table-column prop="memo" label="角色描述">
                  <template slot-scope="scope">
                    <el-tooltip class="item" effect="dark" :content="scope.row.memo" placement="top">
                      <p class="memo-text">{{scope.row.memo}}</p>
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column prop="isEnable" label="状态">
                  <template slot-scope="scope">
                    <span class="enable" v-if="scope.row.isEnable === '0'">{{scope.row.isEnableName}}</span>
                    <span class="able" v-else-if="scope.row.isEnable === '1'">{{scope.row.isEnableName}}</span>
                  </template>
                </el-table-column>
                <el-table-column label="操作">
                  <template slot-scope="scope">
                    <a href="javascript:;" class="detail" v-if="hasPerm('sys:role:fast')" @click="toQuickAuth(scope.row.id)">快速授权</a>
                    <a href="javascript:;" class="detail" v-if="hasPerm('sys:role:update')" @click="handleAddModify(scope.row)">修改</a>
                    <a href="javascript:;" class="detail" v-if="hasPerm('sys:role:delete')" @click="handleDelete(scope.row)">删除</a>
                  </template>
                </el-table-column>
              </el-table>
            </div>
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="roleData.current"
              :page-size="roleData.size"
              prev-text="上一页"
              next-text="下一页"
              layout="prev, pager, next, jumper"
              :total="roleData.total">
            </el-pagination>
          </div>
          <div class="footer">南京安智易达智能科技有限公司</div>
      </div>
    </div>
    <!-- 详情、删除弹出层 -->
    <v-message-box
      :show="box.show"
      :title="box.title"
      :submitText="box.submitText"
      :cancleText="box.cancleText"
      :width="box.width"
      :height="box.height"
      @close="closeBox"
      @submit="deleteSubmitHandle">
      <div class="tip-message">
        您确定要删除该条数据吗？
      </div>
    </v-message-box>
  </div>
</template>

<script>
import RoleManage from './RoleManage.js'
export default RoleManage
</script>

<style>
.role-manage {
  height: calc(100% - 80px);
}
.role-manage .menu-wrapper {
  padding-top: 61px;
  width: 299px;
  height: calc(100% - 61px);
  border-right: 1px solid #d5dade;
}
.role-manage .main {
  width: calc(100% - 300px);
  height: 100%;
}
.role-manage .main .top {
  padding-left: 30px;
  width: calc(100% - 30px);
  height: 60px;
  line-height: 60px;
  box-shadow: 0 1px 0 #d5dade;
  font-size: 18px;
}
.role-manage .main .top span {
  color: #666;
}
.role-manage .main .bottom {
  height: calc(100% - 60px);
  background-color: #fff;
  position: relative;
}

.role-manage .main .bottom .condition {
  border-bottom: 1px solid #d5dade;
  padding: 15px 30px 0;
}
.role-manage .main .bottom .condition .inline-form .el-form-item {
  margin: 0 15px 15px 0;
}
.role-manage .main .bottom .condition .inline-form .el-form-item .el-form-item__label {
  padding-right: 10px;
  font-size: 16px;
}
.role-manage .main .bottom .condition .inline-form .el-form-item .el-form-item__content {
  width: 150px;
}
.role-manage .main .bottom .condition .inline-form .submit-btn {
  margin: 0;
  width: auto;
}
.role-manage .main .bottom .condition .inline-form .submit-btn .el-form-item__content {
  width: auto;
}
.role-manage .el-button--primary {
  padding: 11px 20px;
  font-size: 16px;
  font-weight: bold;
}
.role-manage .el-button--primary i {
  font-weight: bold;
}
.role-manage .main .bottom .list {
  padding: 20px 30px;
}
.role-manage .main .bottom .list .add-btn {
  margin-bottom: 10px;
}
.role-manage .main .bottom .list .list-content {
  border: 1px solid #dae2ef;
  overflow: hidden;
}
.role-manage .el-table {
  margin-bottom: -1px;
}
.role-manage .el-table td, .el-table th.is-leaf {
  text-align: center;
  font-size: 18px;
  color: #333;
}
.role-manage .el-table td {
  padding: 0;
  height: 49px;
}
.role-manage .el-table .able {
  color: #42b452;
}
.role-manage .el-table .enable {
  color: #f67809;
}
.role-manage .el-table .memo-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}
.role-manage .el-table th.is-leaf {
  height: 60px;
}
.role-manage .el-table .detail {
  margin: 0 5px;
  font-size: 18px;
  color: #237ae4;
}

.role-manage .el-pagination {
  text-align: center;
  padding-top: 15px;
}
.role-manage .el-pagination button {
  height: 32px;
  line-height: 32px;
}
.role-manage .el-pagination button span {
  padding: 0 10px;
  height: 32px!important;
  line-height: 32px!important;
  font-size: 16px!important;
}
.role-manage .el-pagination .el-pager li {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
}
.role-manage .el-pagination .el-pagination__jump {
  font-size: 16px!important;
}
.role-manage .el-pagination .el-pagination__editor.el-input .el-input__inner {
  height: 32px;
  font-size: 16px;
}
.role-manage .main .bottom .footer {
  padding: 10px 0 10px 0;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #0080ff;
}

.role-manage .send-form {
  padding: 20px 40px 25px 20px;
}
.role-manage .send-form .el-form-item__label {
  color: #333;
  font-size: 22px;
  height: 50px;
  line-height: 50px;
}
.role-manage .send-form .el-input__inner {
  height: 50px!important;
  line-height: 50px;
  font-size: 22px;
}
.role-manage .send-form .el-select {
  width: 100%;
}

.role-manage .tip-message {
  line-height: 100px;
  font-size: 18px;
  color: #333;
  text-align: center;
}
</style>
