<template>
  <div class="breadcrumb">
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item
      v-for="(item, index) in breadcrumbList"
      :key="index"
      :to="{path: item.to}">{{item.name}}</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
</template>

<script>
export default {
  props: {
    breadcrumbList: {
      type: Array,
      default: null
    }
  }
}
</script>

<style>
  .breadcrumb .el-breadcrumb {
    height: 60px;
    line-height: 60px;
  }
  .breadcrumb .el-breadcrumb .el-breadcrumb__inner {
    font-size: 18px;
    color: #333;
    font-weight: normal;
  }
  .breadcrumb .el-breadcrumb .el-breadcrumb__inner:hover {
    color: #606266;
    cursor: text;
  }
  .breadcrumb .el-breadcrumb .el-breadcrumb__separator {
    color: #333;
  }
</style>
