<template>
  <div class="err404">
    <div class="err-code">
      <img src="../../assets/images/404.png">
    </div>
    <div class="btns">
      <el-button type="primary" @click="clickHandle('1')">返回首页</el-button>
      <el-button @click="clickHandle('2')">刷新一下</el-button>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
export default {
  name: 'err404',
  methods: {
    clickHandle (tag) {
      if (tag === '1') {
        this.$router.push({
          path: '/components'
        })
      } else {
        this.$router.go(0)
      }
    }
  }
}
</script>

<style>
.err404 .err-code {
  padding-top: 120px;
  text-align: center;
}
.err404 .btns {
  padding-top: 100px;
  text-align: center;
}
.err404 .btns .el-button {
  margin-left: 30px;
  margin-right: 30px;
}
</style>
