<template>
  <div class="bind-component clearfix">
    <div class="left fl">
      <p class="title">设备信息</p>
      <ul>
          <li><span class="name">设备名称：</span><span class="value" :title="deviceData.faceTerminalName || ''">{{deviceData.faceTerminalName || ''}}</span></li>
          <li><span class="name">设备类型：</span><span class="value" :title="deviceData.deviceType || ''">{{deviceData.deviceType || ''}}</span></li>
          <li><span class="name">IP地址：</span><span class="value" :title="deviceData.faceTerminalIp || ''">{{deviceData.faceTerminalIp || ''}}</span></li>
          <li><span class="name">端口：</span><span class="value" :title="deviceData.faceTerminalPort || ''">{{deviceData.faceTerminalPort || ''}}</span></li>
          <li><span class="name">mac地址：</span><span class="value" :title="deviceData.faceTerminalMac || ''">{{deviceData.faceTerminalMac || ''}}</span></li>
          <li><span class="name">授权码：</span><span class="value" :title="deviceData.authorizationNum || ''">{{deviceData.authorizationNum || ''}}</span></li>
          <li><span class="name">上报模式：</span><span class="value" :title="deviceData.reportModeName || ''">{{deviceData.reportModeName || ''}}</span></li>
        </ul>
    </div>
    <div class="right fl">
      <div class="content clearfix">
        <div class="content-left fl">
          <p class="table-title">部件信息</p>
          <el-table v-loading="loading1" :data="componentData" stripe height="360" style="width: 100%">
            <el-table-column type=index label="序号" width="70"></el-table-column>
            <el-table-column prop="fittingsName" label="部件名称"></el-table-column>
            <el-table-column prop="nameCn" label="类型"></el-table-column>
            <el-table-column prop="fittingsModel" label="型号"></el-table-column>
            <el-table-column prop="isEnable" label="状态"></el-table-column>
            <el-table-column label="操作" v-if="hasPerm('terminalFittings:updateFittings')" width="140">
              <template slot-scope="scope">
                <el-button class="isStart" @click="changeEnable(scope.row.id, scope.row.isEnable, 'enable')">
                  <span class="stop" v-if="scope.row.isEnable === '启用'">停用</span>
                  <span class="start" v-else-if="scope.row.isEnable === '停用'">启用</span>
                </el-button>
                <el-button class="delete" @click="deleteComponent(scope.row.id, 'delete')">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
          <p class="table-title">新增部件</p>
          <el-table :data="addComponentData" stripe height="360" style="width: 100%">
            <el-table-column type=index label="序号" width="70"></el-table-column>
            <el-table-column prop="fittingsName" label="部件名称"></el-table-column>
            <el-table-column prop="showType" label="类型"></el-table-column>
            <el-table-column prop="fittingsModel" label="型号"></el-table-column>
            <el-table-column prop="isEnable" label="状态"></el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button class="single-btn" @click="removeComponent(scope.$index, addComponentData)">移除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <div class="content-right fl">
          <div class="condition">
            <el-form :inline="true" :model="componentReq" class="inline-form">
              <el-form-item label="部件名称:">
                <el-input :clearable="true" v-model="componentReq.fittingsName"></el-input>
              </el-form-item>
              <el-form-item label="部件类型:">
                <el-select :clearable="true" v-model="componentReq.fittingsType">
                  <el-option
                    v-for="(type, index) in componentTypes"
                    :key="index"
                    :label="type.typeName"
                    :value="type.typeCode"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="型号:">
                <el-input :clearable="true" v-model="componentReq.fittingsModel"></el-input>
              </el-form-item>
              <el-form-item class="submit-btn">
                <el-button type="primary" icon="el-icon-search" @click="_getComponentList">查询</el-button>
              </el-form-item>
            </el-form>
          </div>
          <el-table v-loading="loading2" :data="listComponent.pfFittingsList" stripe height="640" style="width: 100%">
            <el-table-column type=index label="序号" width="70"></el-table-column>
            <el-table-column prop="fittingsName" label="部件名称"></el-table-column>
            <el-table-column prop="showType" label="类型"></el-table-column>
            <el-table-column prop="fittingsModel" label="型号"></el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button class="single-btn" @click="addComponent(scope.row)">添加</el-button>
              </template>
            </el-table-column>
          </el-table>
          <el-pagination
            background
            @current-change="handleCurrentChange"
            :current-page.sync="listComponent.current"
            :page-size="listComponent.size"
            prev-text="上一页"
            next-text="下一页"
            layout="prev, pager, next, jumper"
            :total="listComponent.total">
          </el-pagination>
        </div>
      </div>
      <div class="control">
        <el-button type="primary" class="submit" @click="saveComponent">保存</el-button>
        <el-button class="cancle" @click="back">取消</el-button>
      </div>
      <div class="footer">南京安智易达智能科技有限公司</div>
    </div>

    <!-- just use remind.  alert box -->
    <v-message-box
      :show="box.show"
      :title="box.title"
      :submitText="box.submitText"
      :cancleText="box.cancleText"
      :width="box.width"
      :height="box.height"
      @close="closeBox"
      @submit="submitHandle">
      <div class="box-content">
        {{box.content}}
      </div>
    </v-message-box>
  </div>
</template>

<script>
import BindComponent from './BindComponent.js'
export default BindComponent
</script>

<style>
.bind-component {
  height: calc(100% - 80px);
}
.bind-component .left {
  width: 340px;
}
.bind-component .left .title {
  padding-left: 30px;
  height: 50px;
  line-height: 50px;
  background-color: #e0e6f3;
  color: #333;
  font-size: 18px;
}
.bind-component .left ul {
  padding: 12px 0;
}
.bind-component .left ul li {
  padding: 12px 30px;
  font-size: 16px;
}
.bind-component .left ul li .name {
  display: inline-block;
  width: 80px;
  text-align: right;
  color: #666;
}
.bind-component .left ul li .value {
  display: inline-block;
  width: 180px;
  color: #333;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.bind-component .right {
  width: calc(100% - 340px);
  height: 100%;
  background-color: #fff;
}
.bind-component .right .content {
  margin: 20px;
  border: 1px solid #dae2ef;
  overflow: hidden;
}
.bind-component .right .content .content-left {
  width: 642px;
  border-right: 3px solid #dae2ef;
}
.bind-component .right .content .content-left .table-title {
  padding-left: 30px;
  height: 50px;
  line-height: 50px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  background: -webkit-linear-gradient(#dbe2f1, #ebeef5);
  background: -o-linear-gradient(#dbe2f1, #ebeef5);
  background: -moz-linear-gradient(#dbe2f1, #ebeef5);
  background: linear-gradient(#dbe2f1, #ebeef5);
}
.bind-component .right .content .el-table {
  margin-bottom: -1px;
}
.bind-component .right .content .el-table td, .el-table th.is-leaf {
  text-align: center;
  font-size: 16px;
  color: #333;
}
.bind-component .right .content .el-table td {
  padding: 0;
  height: 40px;
}
.bind-component .right .content .el-table th.is-leaf {
  height: 40px;
  padding: 0;
}
.bind-component .right .content .content-right {
  width: calc(100% - 645px);
}
.bind-component .right .content .content-right .condition {
  border-bottom: 1px solid #d5dade;
  padding: 15px 15px 0;
}
.bind-component .right .content .content-right .condition .inline-form .el-form-item {
  margin: 0 15px 15px 0;
}
.bind-component .right .content .content-right .condition .inline-form .el-form-item .el-form-item__label {
  padding-right: 10px;
  font-size: 16px;
}
.bind-component .right .content .content-right .condition .inline-form .el-form-item .el-form-item__content {
  width: 150px;
}
.bind-component .right .content .content-right .condition .inline-form .submit-btn {
  margin: 0;
  width: auto;
}
.bind-component .right .content .content-right.condition .inline-form .submit-btn .el-form-item__content {
  width: auto;
}
.bind-component .right .content .content-right .el-button--primary {
  padding: 11px 20px;
  font-size: 16px;
  font-weight: bold;
}
.bind-component .right .content .content-right .el-button--primary i {
  font-weight: bold;
}

.bind-component .right .content .content-right .el-pagination {
  text-align: center;
  padding-top: 10px;
}
.bind-component .right .content .content-right .el-pagination button {
  height: 32px;
  line-height: 32px;
}
.bind-component .right .content .content-right .el-pagination button span {
  padding: 0 10px;
  height: 32px!important;
  line-height: 32px!important;
  font-size: 16px!important;
}
.bind-component .right .content .content-right .el-pagination .el-pager li {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
}
.bind-component .right .content .content-right .el-pagination .el-pagination__jump {
  font-size: 16px!important;
}
.bind-component .right .content .content-right .el-pagination .el-pagination__editor.el-input .el-input__inner {
  height: 32px;
  font-size: 16px;
}
.bind-component .right .control {
  text-align: center;
}
.bind-component .right .control .el-button {
  margin: 0 20px 0;
  width: 200px;
  height: 50px;
  font-size: 20px;
  vertical-align: middle;
}
.bind-component .right .isStart {
  padding: 0;
  border: 0;
  width: 50px;
  height: 30px;
  font-size: 14px;
  color: #fff;
  overflow: hidden;
}
.bind-component .right .isStart .start {
  display: inline-block;
  width: 50px;
  height: 30px;
  line-height: 30px;
  background-color: #42b452;
}
.bind-component .right .isStart .stop {
  display: inline-block;
  width: 50px;
  height: 30px;
  line-height: 30px;
  background-color: #f67809;
}
.bind-component .right .delete {
  padding: 0;
  width: 49px;
  height: 29px;
  border-color: #237ae4;
  color: #237ae4;
}
.bind-component .right .single-btn {
  padding: 0;
  width: 79px;
  height: 29px;
  border-color: #237ae4;
  color: #237ae4;
}

.bind-component .right .footer {
  padding: 20px 0 10px 0;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #0080ff;
}

.bind-component .box-content {
  height: 120px;
  line-height: 120px;
  font-size: 18px;
  text-align: center;
  color: #333;
}
</style>
