<template>
  <div class="collapse">
    <div class="top clearfix">
      <div class="title fl">{{titleText}}</div>
      <div class="toggle-btn fr" :class="{'open': show}" @click="handleToggle"></div>
    </div>
    <transition name="slide">
      <div class="bottom clearfix" v-show="show">
        <slot></slot>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data () {
    return {
      show: false
    }
  },
  props: {
    title: '',
    num: 0
  },
  computed: {
    titleText () {
      return `${this.title}（${this.num}）个`
    }
  },
  methods: {
    handleToggle () {
      this.show = !this.show
    }
  }
}
</script>

<style scoped>
.collapse {
  width: 100%;
}
.collapse .top {
  padding: 0 20px;
  height: 39px;
  line-height: 39px;
  border-bottom: 1px solid #d5dade;
  background-color: rgb(235, 242, 250)
}
.collapse .top .title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 0;
}
.collapse .top .toggle-btn {
  margin-top: 9px;
  width: 22px;
  height: 22px;
  background: url(../../assets/images/icon_up_arrow.png) center no-repeat;
  background-size: 22px 22px;
  border-radius: 50%;
}
.collapse .top .toggle-btn.open {
  background: url(../../assets/images/icon_down_arrow.png) center no-repeat;
}
.collapse .bottom {
  overflow-y: auto;
  width: 100%;
  /* height: 330px; */
  border-bottom: 1px solid #d5dade;
}
.collapse .slide-enter-active, .collapse .slide-leave-active {
  transition: all 0.2s;
}
.collapse .slide-enter, .collapse .slide-leave-to {
  opacity: 0;
}
</style>
