<template>
  <div class="state-monitor clearfix">
    <div class="menu-wrapper fl">
      <v-menu></v-menu>
    </div>
    <div class="main fl">
      <div class="top">
        <span class="fl">当前位置：</span>
        <v-breadcrumb :breadcrumbList="breadcrumbList" class="fl"></v-breadcrumb>
      </div>
      <div class="bottom">
        <el-input
          class="tree-node-search"
          clearable
          placeholder="输入机构名称快速查找"
          v-model="filterText">
        </el-input>
        <div class="tree-box">
          <el-tree
            ref="myTree"
            class="my-tree"
            node-key="id"
            :data="treeData"
            :props="defaultProps"
            :highlight-current="true"
            :accordion="true"
            :expand-on-click-node="false"
            :filter-node-method="filterNode"
            @node-click="handleNodeClick"></el-tree>
        </div>
        <div class="devices-box">
          <ul class="device-list clearfix">
            <li v-for="(item, index) in devicesData"
                :key="index"
                :class="{'off-line': item.faceTerminalStatus === '离线',
                          'warning': item.faceTerminalStatus === '异常'}"
                class="device-item">
              <div class="title">{{item.faceTerminalName}}</div>
              <div class="content">
                <ul>
                  <li><span class="name">IP地址：</span><span class="value">{{item.faceTerminalIp}}</span></li>
                  <li><span class="name">端口：</span><span class="value">{{item.faceTerminalPort}}</span></li>
                  <li><span class="name">mac地址：</span><span class="value">{{item.faceTerminalMac}}</span></li>
                  <li><span class="name">授权码：</span><span class="value">{{item.authorizationNum}}</span></li>
                </ul>
              </div>
              <div class="detail-btn" @click="handleDetails(item.terminalId, item.faceTerminalStatus)">查看详情</div>
            </li>
          </ul>
        </div>
        <div class="footer">南京安智易达智能科技有限公司</div>
      </div>
    </div>

    <!-- 详情弹出层 -->
    <v-message-box
      :show="box.show"
      :title="box.title"
      :submitText="box.submitText"
      :cancleText="box.cancleText"
      :width="box.width"
      :height="box.height"
      @close="closeBox"
      @submit="submitHandle">
      <div class="details clearfix">
        <div class="details-left fl">
          <ul>
            <li><span class="name">设备名称：</span><span class="value" :title="detailsData.faceTerminalName || ''">{{detailsData.faceTerminalName || ''}}</span></li>
            <li><span class="name">设备类型：</span><span class="value" :title="detailsData.showTerminalType || ''">{{detailsData.showTerminalType || ''}}</span></li>
            <li><span class="name">IP地址：</span><span class="value" :title="detailsData.faceTerminalIp || ''">{{detailsData.faceTerminalIp || ''}}</span></li>
            <li><span class="name">端口：</span><span class="value" :title="detailsData.faceTerminalPort || ''">{{detailsData.faceTerminalPort || ''}}</span></li>
            <li><span class="name">mac地址：</span><span class="value" :title="detailsData.faceTerminalMac || ''">{{detailsData.faceTerminalMac || ''}}</span></li>
            <li><span class="name">授权码：</span><span class="value" :title="detailsData.authorizationNum || ''">{{detailsData.authorizationNum || ''}}</span></li>
            <li><span class="name">上报模式：</span><span
              v-if="detailsData.reportMode === '0'" class="value">主动上报</span><span
              v-else-if="detailsData.reportMode === '1'" class="value">被动上报</span></li>
          </ul>
        </div>
        <div class="details-right fl">
          <div class="title">部件信息</div>
          <div class="content">
            <v-collapse
              v-for="(item, index) in detailsOfComponent"
              :title="item.nameCn"
              :num="item.fittings.length"
              :key="index">
              <el-table :data="item.fittings" stripe style="width: 100%">
                <el-table-column type=index label="序号" width="70"></el-table-column>
                <el-table-column prop="fittingsName" label="部件名称"></el-table-column>
                <el-table-column prop="fittingsModel" label="部件型号"></el-table-column>
                <el-table-column prop="fittingsStatus" label="状态"></el-table-column>
                <el-table-column prop="reportTime" label="上报时间"></el-table-column>
                <el-table-column prop="fittingsManufacturer" label="部件制造商"></el-table-column>
                <el-table-column prop="isEnable" label="是否启用"></el-table-column>
              </el-table>
            </v-collapse>
            <div class="remind-text" v-if="!detailsOfComponent.length">
              该设备暂未添加部件
            </div>
          </div>
        </div>
      </div>
    </v-message-box>
  </div>
</template>

<script>
import StateMonitor from './StateMonitor.js'
export default StateMonitor
</script>

<style>
.state-monitor {
  height: calc(100% - 80px);
}
.state-monitor .menu-wrapper {
  padding-top: 61px;
  width: 299px;
  height: calc(100% - 61px);
  border-right: 1px solid #d5dade;
}
.state-monitor .main {
  width: calc(100% - 300px);
  height: 100%;
}
.state-monitor .main .top {
  padding-left: 30px;
  width: calc(100% - 30px);
  height: 60px;
  line-height: 60px;
  box-shadow: 0 1px 0 #d5dade;
  font-size: 18px;
}
.state-monitor .main .top span {
  color: #666;
}
.state-monitor .main .bottom {
  height: calc(100% - 60px);
  background-color: #fff;
  position: relative;
}
.state-monitor .main .bottom .tree-node-search {
  position: absolute;
  top: 0;
  left: 0;
  width: 268px;
}

.state-monitor .main .bottom .devices-box {
  position: absolute;
  left: 288px;
  top: 0;
  width: calc(100% - 288px);
  height: calc(100% - 38px);
  overflow-y: auto;
}
.state-monitor .main .bottom .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 0 10px 0;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #0080ff;
}

.state-monitor .main .bottom .devices-box .device-list {
  padding: 15px;
}
.state-monitor .main .bottom .devices-box .device-list .device-item {
  float: left;
  margin: 15px;
  width: calc(33.33333% - 32px);
  min-width: 320px;
  border-radius: 4px;
  overflow: hidden;
}
@media screen and (max-width: 1679px) {
  .state-monitor .main .bottom .devices-box .device-list .device-item {
    float: left;
    margin: 15px;
    width: calc(50% - 32px);
    min-width: 320px;
  }
}
@media screen and (max-width: 1329px) {
  .state-monitor .main .bottom .devices-box .device-list .device-item {
    float: left;
    margin: 15px;
    width: calc(100% - 32px);
    min-width: 320px;
  }
}
.state-monitor .main .bottom .devices-box .device-list .device-item .title {
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #4390ed;
  color: #fff;
  font-size: 22px;
  border-top: 1px solid #4390ed;
  border-left: 1px solid #4390ed;
  border-right: 1px solid #4390ed;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.state-monitor .main .bottom .devices-box .device-list .device-item.off-line .title {
  background-color: #8f8f8f;
  border-top: 1px solid #8f8f8f;
  border-left: 1px solid #8f8f8f;
  border-right: 1px solid #8f8f8f;
}
.state-monitor .main .bottom .devices-box .device-list .device-item.warning .title {
  background-color: #f85f6e;
  border-top: 1px solid #f85f6e;
  border-left: 1px solid #f85f6e;
  border-right: 1px solid #f85f6e;
}
.state-monitor .main .bottom .devices-box .device-list .device-item .detail-btn {
  height: 45px;
  line-height: 45px;
  background-color: #ebeff8;
  text-align: center;
  color: #7388a1;
  font-size: 22px;
  border-left: 1px solid #d6deeb;
  border-right: 1px solid #d6deeb;
  border-bottom: 1px solid #d6deeb;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.state-monitor .main .bottom .devices-box .device-list .device-item.off-line .detail-btn {
  background-color: #e0e0e0;
  color: #666;
}
.state-monitor .main .bottom .devices-box .device-list .device-item.warning .detail-btn {
  background-color: #fae4e7;
  color: #f85f6e;
}
.state-monitor .main .bottom .devices-box .device-list .device-item .content {
  padding: 10px 20px;
  border-left: 1px solid #d6deeb;
  border-right: 1px solid #d6deeb;
}
.state-monitor .main .bottom .devices-box .device-list .device-item .content li {
  zoom:1;
}
.state-monitor .main .bottom .devices-box .device-list .device-item .content li:after {
  content: "";
  display: block;
  clear: both;
}
.state-monitor .main .bottom .devices-box .device-list .device-item .content li span {
  float: left;
  padding: 10px 0;
  display: inline-block;
  font-size: 16px;
  color: #666;
}
.state-monitor .main .bottom .devices-box .device-list .device-item .content li .name {
  width: 85px;
  text-align: right;
}
.state-monitor .main .bottom .devices-box .device-list .device-item .content li .value {
  width: calc(100% - 85px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
}

/*tree style*/
.state-monitor .main .bottom .tree-box {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 40px;
  height: calc(100% - 40px);
  width: 268px;
  overflow-x: auto;
  overflow-y: hidden;
  background: #f6f8fe;
}
.state-monitor .main .bottom .tree-box .my-tree {
  width: 450px;
  height: 100%;
  overflow-y: auto;
  background: transparent;
}
.state-monitor .main .bottom .tree-box .my-tree .el-tree-node>.el-tree-node__children {
  overflow: visible;
}
.state-monitor .main .bottom .tree-box .my-tree .el-tree-node__expand-icon {
  font-size: 18px;
}
.state-monitor .main .bottom .tree-box .my-tree .el-tree-node__label {
  font-size: 18px;
}
.state-monitor .main .bottom .tree-box .my-tree .el-tree-node__content {
  height: 40px;
}
.state-monitor .main .bottom .tree-box .my-tree .is-current>.el-tree-node__content {
  background: #0080ff;
  color: #fff;
}

.state-monitor .main .bottom .device-box {
  position: absolute;
  left: 288px;
  top: 0;
  width: calc(100% - 288px);
  height: calc(100% - 38px);
  overflow-y: auto;
}
.state-monitor .main .bottom .condition {
  border-bottom: 1px solid #d5dade;
  padding: 15px 30px 0;
}
.state-monitor .main .bottom .condition .inline-form .el-form-item {
  margin: 0 15px 15px 0;
}
.el-cascader-menu__item {
  width: 200px!important;
}
.state-monitor .main .bottom .condition .inline-form .el-form-item .el-form-item__label {
  padding-right: 10px;
  font-size: 16px;
}
.state-monitor .main .bottom .condition .inline-form .el-form-item .el-form-item__content {
  width: 150px;
}
.state-monitor .main .bottom .condition .inline-form .submit-btn {
  margin: 0;
  width: auto;
}
.state-monitor .main .bottom .condition .inline-form .submit-btn .el-form-item__content {
  width: auto;
}
.state-monitor .el-button--primary {
  padding: 11px 20px;
  font-size: 16px;
  font-weight: bold;
}
.state-monitor .el-button--primary i {
  font-weight: bold;
}
.state-monitor .main .bottom .list {
  padding: 20px 30px;
}
.state-monitor .main .bottom .list .add-btn {
  margin-bottom: 10px;
}
.state-monitor .main .bottom .list .list-content {
  border: 1px solid #dae2ef;
  overflow: hidden;
}
.state-monitor .el-table {
  margin-bottom: -1px;
}
.state-monitor .el-table td, .el-table th.is-leaf {
  text-align: center;
  font-size: 18px;
  color: #333;
}
.state-monitor .el-table td {
  padding: 0;
  height: 49px;
}
.state-monitor .el-table th.is-leaf {
  height: 60px;
}
.state-monitor .el-table .btn-click {
  margin-right: 2px;
  font-size: 16px;
  color: #237ae4;
}
.state-monitor .el-table .control-btn {
  padding: 0;
  height: 30px;
  width: 110px;
  color: #0080ff;
  border-color: #0080ff;
  font-size: 16px;
  font-weight: normal;
}
.state-monitor .el-table .control-btn span {
  display: inline-block;
  vertical-align: middle;
}
.state-monitor .el-table .control-btn .icon {
  width: 18px;
  height: 18px;
  background: url(../../assets/images/icon_modify.png) left center no-repeat;
  background-size: 18px 18px;
}
.state-monitor .el-pagination {
  text-align: center;
  padding-top: 15px;
}
.state-monitor .el-pagination button {
  height: 32px;
  line-height: 32px;
}
.state-monitor .el-pagination button span {
  padding: 0 10px;
  height: 32px!important;
  line-height: 32px!important;
  font-size: 16px!important;
}
.state-monitor .el-pagination .el-pager li {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
}
.state-monitor .el-pagination .el-pagination__jump {
  font-size: 16px!important;
}
.state-monitor .el-pagination .el-pagination__editor.el-input .el-input__inner {
  height: 32px;
  font-size: 16px;
}
.state-monitor .main .bottom .footer {
  z-index: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 0 10px 0;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #0080ff;
}

/* details box css */

.state-monitor .details {
  height: 460px;
}
.state-monitor .details .details-left {
  margin-right: 30px;
  height: 100%;
  width: 320px;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 10px 1px #d5dade;
}
.state-monitor .details .details-left ul {
  padding: 12px 0;
}
.state-monitor .details .details-left ul li {
  padding: 12px 30px;
  font-size: 16px;
}
.state-monitor .details .details-left ul li .name {
  display: inline-block;
  width: 80px;
  text-align: right;
  color: #666;
}
.state-monitor .details .details-left ul li .value {
  display: inline-block;
  width: 180px;
  color: #333;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.state-monitor .details .details-right .title {
  padding-bottom: 12px;
  font-size: 16px;
  color: #666;
}
.state-monitor .details .details-right .content {
  width: 965px;
  height: 430px;
  border: 1px solid #d5dade;
  border-radius: 4px;
  overflow-y: auto;
}

.state-monitor .details .details-right  .content .el-table {
  margin-bottom: -1px;
}
.state-monitor .details .details-right  .content .el-table td, .el-table th.is-leaf {
  text-align: center;
  font-size: 16px;
  color: #333;
}
.state-monitor .details .details-right  .content .el-table td {
  padding: 0;
  height: 40px;
}
.state-monitor .details .details-right .content .el-table th.is-leaf {
  height: 40px;
  padding: 0;
}
.state-monitor .details .details-right .content .remind-text {
  color: #666;
  font-size: 16px;
  text-align: center;
  line-height: 430px;
}
</style>
