<template>
  <div class="component-manage clearfix">
    <div class="menu-wrapper fl">
      <v-menu></v-menu>
    </div>
    <div class="main fl">
      <div class="top">
        <span class="fl">当前位置：</span>
        <v-breadcrumb :breadcrumbList="breadcrumbList" class="fl"></v-breadcrumb>
      </div>
      <div class="bottom">
        <div class="condition">
          <el-form :inline="true" :model="componentReq" class="inline-form">
            <el-form-item label="部件名称:">
              <el-input :clearable="true" v-model="componentReq.fittingsName"></el-input>
            </el-form-item>
            <el-form-item label="部件类型:">
              <el-select :clearable="true" v-model="componentReq.fittingsType">
                <el-option
                v-for="(type, index) in componentTypes"
                :key="index"
                :label="type.typeName"
                :value="type.typeCode"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="型号:">
              <el-input :clearable="true" v-model="componentReq.fittingsModel"></el-input>
            </el-form-item>
            <el-form-item label="厂商:">
              <el-input :clearable="true" v-model="componentReq.fittingsManufacturer"></el-input>
            </el-form-item>
            <el-form-item class="submit-btn">
              <el-button type="primary" icon="el-icon-search" @click="_getComponentList">查询</el-button>
            </el-form-item>
          </el-form>
        </div>
        <div class="list">
          <el-button class="add-btn" type="primary" v-if="hasPerm('fittings:add')" @click="addClick" icon="el-icon-plus">新增</el-button>
          <div class="list-content">
            <el-table v-loading="loading" :data="componentData.pfFittingsList" stripe height="550" style="width: 100%">
              <el-table-column type=index label="序号" width="70"></el-table-column>
              <el-table-column prop="fittingsName" label="部件名称"></el-table-column>
              <el-table-column prop="showType" label="部件类型"></el-table-column>
              <el-table-column prop="fittingsModel" label="型号"></el-table-column>
              <el-table-column prop="fittingsManufacturer" label="厂商"></el-table-column>
              <el-table-column label="操作">
                <template slot-scope="scope">
                  <el-button class="control-btn" v-if="hasPerm('fittings:update')" @click="modifyClick(scope.row)"><span class="icon"></span> <span>修改</span></el-button>
                </template>
              </el-table-column>
            </el-table>
          </div>
          <el-pagination
            background
            @current-change="handleCurrentChange"
            :current-page.sync="componentData.current"
            :page-size="componentData.size"
            prev-text="上一页"
            next-text="下一页"
            layout="prev, pager, next, jumper"
            :total="componentData.total">
          </el-pagination>
        </div>
        <div class="footer">南京安智易达智能科技有限公司</div>
      </div>
    </div>
    <!-- 新增、修改弹出层 -->
    <v-message-box
      :show="box.show"
      :title="box.title"
      :submitText="box.submitText"
      :cancleText="box.cancleText"
      :width="box.width"
      :height="box.height"
      @close="closeBox"
      @submit="submitHandle">
      <el-form ref="addForm" :model="sendParams" class="send-form" :rules="rules" label-width="120px">
        <el-form-item label="部件名称:" prop="fittingsName">
          <el-input :clearable="true" v-model="sendParams.fittingsName"></el-input>
        </el-form-item>
        <el-form-item label="部件类型:" prop="fittingsType">
          <el-select :disabled="isModify" :clearable="true" v-model="sendParams.fittingsType">
            <el-option
              v-for="(type, index) in componentTypes"
              :key="index"
              :label="type.typeName"
              :value="type.typeCode"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="型号:" prop="fittingsModel">
          <el-input :clearable="true" v-model="sendParams.fittingsModel"></el-input>
        </el-form-item>
        <el-form-item label="厂商:" prop="fittingsManufacturer">
          <el-input :clearable="true" v-model="sendParams.fittingsManufacturer"></el-input>
        </el-form-item>
      </el-form>
    </v-message-box>
  </div>
</template>

<script>
import ComponentManage from './ComponentManage.js'
export default ComponentManage
</script>

<style>
.component-manage {
  height: calc(100% - 80px);
}
.component-manage .menu-wrapper {
  padding-top: 61px;
  width: 299px;
  height: calc(100% - 61px);
  border-right: 1px solid #d5dade;
}
.component-manage .main {
  width: calc(100% - 300px);
  height: 100%;
}
.component-manage .main .top {
  padding-left: 30px;
  width: calc(100% - 30px);
  height: 60px;
  line-height: 60px;
  box-shadow: 0 1px 0 #d5dade;
  font-size: 18px;
}
.component-manage .main .top span {
  color: #666;
}
.component-manage .main .bottom {
  height: calc(100% - 60px);
  background-color: #fff;
}
.component-manage .main .bottom .condition {
  border-bottom: 1px solid #d5dade;
  padding: 15px 30px 0;
}
.component-manage .main .bottom .condition .inline-form .el-form-item {
  margin: 0 15px 15px 0;
}
.component-manage .main .bottom .condition .inline-form .el-form-item .el-form-item__label {
  padding-right: 10px;
  font-size: 16px;
}
.component-manage .main .bottom .condition .inline-form .el-form-item .el-form-item__content {
  width: 150px;
}
.component-manage .main .bottom .condition .inline-form .submit-btn {
  margin: 0;
  width: auto;
}
.component-manage .main .bottom .condition .inline-form .submit-btn .el-form-item__content {
  width: auto;
}
.component-manage .el-button--primary {
  padding: 11px 20px;
  font-size: 16px;
  font-weight: bold;
}
.component-manage .el-button--primary i {
  font-weight: bold;
}
.component-manage .main .bottom .list {
  padding: 20px 30px;
}
.component-manage .main .bottom .list .add-btn {
  margin-bottom: 10px;
}
.component-manage .main .bottom .list .list-content {
  border: 1px solid #dae2ef;
  overflow: hidden;
}
.component-manage .el-table {
  margin-bottom: -1px;
}
.component-manage .el-table td, .el-table th.is-leaf {
  text-align: center;
  font-size: 18px;
  color: #333;
}
.component-manage .el-table td {
  padding: 0;
  height: 49px;
}
.component-manage .el-table th.is-leaf {
  height: 60px;
}
.component-manage .el-table .control-btn {
  padding: 0;
  height: 30px;
  width: 80px;
  color: #0080ff;
  border-color: #0080ff;
  font-size: 16px;
  font-weight: normal;
}
.component-manage .el-table .control-btn span {
  display: inline-block;
  vertical-align: middle;
}
.component-manage .el-table .control-btn .icon {
  width: 18px;
  height: 18px;
  background: url(../../assets/images/icon_modify.png) left center no-repeat;
  background-size: 18px 18px;
}
.component-manage .el-pagination {
  text-align: center;
  padding-top: 15px;
}
.component-manage .el-pagination button {
  height: 32px;
  line-height: 32px;
}
.component-manage .el-pagination button span {
  padding: 0 10px;
  height: 32px!important;
  line-height: 32px!important;
  font-size: 16px!important;
}
.component-manage .el-pagination .el-pager li {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
}
.component-manage .el-pagination .el-pagination__jump {
  font-size: 16px!important;
}
.component-manage .el-pagination .el-pagination__editor.el-input .el-input__inner {
  height: 32px;
  font-size: 16px;
}
.component-manage .main .bottom .footer {
  padding: 10px 0 10px 0;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #0080ff;
}

.component-manage .send-form {
  padding: 20px 40px 25px 20px;
}
.component-manage .send-form .el-form-item__label {
  color: #333;
  font-size: 22px;
  height: 50px;
  line-height: 50px;
}
.component-manage .send-form .el-input__inner {
  height: 50px!important;
  line-height: 50px;
  font-size: 22px;
}
.component-manage .send-form .el-select {
  width: 100%;
}
</style>
