<template>
  <div class="header-c clearfix">
    <div class="fl">
      <img class="logo fl" src="../../assets/images/logo.png" alt="logo">
      <h1 class="title fl">管理平台</h1>
    </div>
    <div class="fr">
      <!-- <button class="back fr">返回</button> -->
      <div class="user fr">
        <el-dropdown v-if="login" @command="handleDropdown">
          <el-button type="primary">
            <div class="avatar fl"><img src="../../assets/images/avatar.png" alt="头像"></div>
            <div class="name fl">{{username}}</div><i class="el-icon-arrow-down el-icon--right fl"></i>
          </el-button>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="update">修改密码</el-dropdown-item>
            <el-dropdown-item command="logout">退出</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
        <el-button v-else type="primary" class="login-btn" @click="toLogin">登录</el-button>
      </div>
      <div class="time fr">{{time}}</div>
    </div>
    <!-- 修改密码box -->
    <v-message-box
      :show="box.show"
      :title="box.title"
      :submitText="box.submitText"
      :cancleText="box.cancleText"
      :width="box.width"
      :height="box.height"
      @close="closeBox"
      @submit="submitHandle">
      <el-form :model="updatePassword" class="send-form" label-width="140px">
        <el-form-item label="旧密码:">
          <el-input :clearable="true" v-model="updatePassword.oldPwd"></el-input>
        </el-form-item>
        <el-form-item label="新密码:">
          <el-input :clearable="true" v-model="updatePassword.newPwd"></el-input>
        </el-form-item>
        <el-form-item label="确认新密码:">
          <el-input :clearable="true" v-model="updatePassword.rePwd"></el-input>
        </el-form-item>
      </el-form>
    </v-message-box>
  </div>
</template>

<script>
import vMessageBox from 'components/message-box'
export default {
  data () {
    return {
      time: '',
      login: false,
      username: '',
      currentUser: '',
      updatePassword: {
        oldPwd: '',
        newPwd: '',
        rePwd: ''
      },
      box: {
        show: false,
        title: '',
        submitText: '',
        cancleText: '',
        width: 0,
        height: 0
      }
    }
  },
  components: {
    vMessageBox
  },
  mounted () {
    this.$nextTick(() => {
      this.timeInterval = setInterval(() => {
        this.time = this.$dateformat('yyyy年MM月dd日 hh:mm:ss', new Date())
      }, 1000)
      this.userInterval = setInterval(() => {
        this.currentUser = localStorage.getItem('username')
      }, 100)
    })
  },
  beforeDestroy () {
    clearInterval(this.timeInterval)
    clearInterval(this.userInterval)
  },
  watch: {
    currentUser (name) {
      if (name !== null) {
        this.login = true
        this.username = name
      }
    }
  },
  methods: {
    toLogin () {
      this.$router.push({
        name: 'login'
      })
    },
    handleDropdown (command) {
      if (command === 'logout') {
        this.$ajax(this.$api.logout).then(
          res => {
            if (res.code === 200) {
              this.$message({
                message: res.message,
                type: 'success'
              })
              this.login = false
              localStorage.removeItem('token')
              localStorage.removeItem('username')
              localStorage.removeItem('departmentId')
              this.$router.push({
                name: 'login'
              })
            } else {
              this.$message({
                message: res.message,
                type: 'warning'
              })
            }
          }
        )
      } else if (command === 'update') {
        this.box = {
          show: true,
          title: '修改密码',
          submitText: '确定',
          cancleText: '取消',
          width: 600,
          height: 490
        }
      }
    },
    submitHandle () {
      this.$ajax(this.$api.updatePassword, this.updatePassword).then(
        res => {
          if (res.code === 200) {
            this.$message({
              message: res.message,
              type: 'success'
            })
            this.$router.push({
              name: 'login'
            })
            this.closeBox()
          } else {
            this.$message({
              message: res.message,
              type: 'warning'
            })
          }
        }
      )
    },
    closeBox (val) {
      this.box.show = val
      this.updatePassword = {
        oldPwd: '',
        newPwd: '',
        rePwd: ''
      }
    }
  }
}
</script>

<style>
.header-c {
  z-index: 9999;
  height: 80px;
  background-color: #237AE4;
}
.header-c .logo {
  width: 49px;
  height: 49px;
  margin: 16px 0 0 30px;
}
.header-c .title {
  font-size: 34px;
  font-weight: normal;
  color: #fff;
  padding: 22px 0 0 18px;
}
.header-c .back {
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  color: #0080ff;
  font-size: 20px;
  outline: none;
  border: 0;
  background: #e9f6ff url(../../assets/images/icon_back.png) 32px center no-repeat;
  margin: 20px 30px 0 0;
  padding-left: 70px;
  padding-right: 30px;
  transition: all .3s;
}
.header-c .back:hover {
  background-color: rgba(255, 255, 255, .8)
}
.header-c .user {
  margin-right: 30px;
}
.header-c .user .login-btn, .header-c .user .el-dropdown .el-button {
  /* width: 193px; */
  height: 80px;
  border-radius: 0;
  font-size: 22px;
}
.header-c .user .el-dropdown .el-button .avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-right: 16px;
}
.header-c .user .el-dropdown .el-button .avatar img {
  width: 100%;
  height: 100%;
}
.header-c .user .el-dropdown .el-button .name, .header-c .user .el-dropdown .el-button .el-icon--right {
  height: 46px;
  line-height: 46px;
}
.el-dropdown-menu {
  padding: 0;
  width: 193px;
}
.el-dropdown-menu .el-dropdown-menu__item {
  font-size: 18px;
  line-height: 50px;
}
.header-c .time {
  color: #fff;
  font-size: 22px;
  margin-right: 48px;
  margin-top: 28px;
}

.header-c .send-form {
  padding: 46px 40px 25px 20px;
}
.header-c .send-form .el-form-item {
  margin-bottom: 30px;
}
.header-c .send-form .el-form-item .el-form-item__label {
  color: #333;
  font-size: 22px;
  height: 50px;
  line-height: 50px;
}
.header-c .send-form .el-input__inner {
  height: 50px!important;
  line-height: 50px;
  font-size: 22px;
}
</style>
