<template>
  <div class="add-modify-manage">
    <div class="add-form-content">
      <div class="add-content-main clearfix">
        <div class="main-top">
          <el-form ref="form" :inline="true" :model="form" :rules="rules" label-width="120px">
            <el-form-item prop="name" label="角色编码">
              <el-input v-model="form.name" clearable placeholder="请输入角色编码"></el-input>
            </el-form-item>
            <el-form-item prop="nameCn" label="角色名称">
              <el-input v-model="form.nameCn" clearable placeholder="请输入角色名称"></el-input>
            </el-form-item>
            <el-form-item prop="isEnable" label="使用状态">
              <el-select v-model="form.isEnable" clearable placeholder="请选择使用状态">
                <el-option label="冻结" value="0"></el-option>
                <el-option label="启用" value="1"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item prop="memo" label="角色描述" style="width: 100%;">
              <el-input type="textarea" v-model="form.memo" clearable placeholder="请输入角色描述" style="width: 800px;font-size: 18px;"></el-input>
            </el-form-item>
          </el-form>
        </div>
        <div class="main-bottom">
          <div class="title">功能权限</div>
          <div class="right-content">
            <el-tree
              ref="tree"
              class="my-tree"
              show-checkbox
              node-key="menuId"
              :props="defaultProps"
              :expand-on-click-node="true"
              :check-strictly="true"
              :default-checked-keys="form.menuIdList"
              :data="menuList"
              highlight-current></el-tree>
          </div>
        </div>
      </div>
      <div class="add-content-control">
        <el-button type="primary" @click="submitHandle('form')">确定</el-button>
        <el-button @click="cancelHandle">取消</el-button>
      </div>
    </div>
    <div class="footer">南京安智易达智能科技有限公司</div>
  </div>
</template>

<script>
import AddModifyManage from './AddModifyManage.js'
export default AddModifyManage
</script>

<style>
.add-modify-manage {
  padding: 20px 30px;
  width: calc(100% - 60px);
  height: calc(100% - 100px);
  background: #fff;
  overflow-y: auto;
}
.add-modify-manage .add-form-content {
  padding: 30px;
  border: 1px solid #dae2ef;
}
.add-modify-manage .add-form-content .add-content-main .main-top {
  margin: 10px 20px;
  /*width: calc(100% - 850px);*/
  min-width: 300px;
}
.add-modify-manage .add-form-content .add-content-main .main-top .el-form .el-form-item {
  margin-bottom: 35px;
}
.add-modify-manage .add-form-content .add-content-main .main-top .el-form .el-form-item .el-form-item__label {
  padding: 0 20px 0 0;
  line-height: 50px;
  font-size: 18px;
}
.add-modify-manage .add-form-content .add-content-main .main-top .el-form .el-form-item .el-input__inner {
  height: 50px!important;
  font-size: 18px;
}
.add-modify-manage .add-form-content .add-content-main .main-top .el-form .el-form-item .el-select {
  width: 100%;
}
.add-modify-manage .add-form-content .add-content-main .main-bottom {
  margin: 10px 20px;
  /*width: 350px;*/
  height: 520px;
  border: 1px solid #dae2ef;
  border-radius: 4px;
}
.add-modify-manage .add-form-content .add-content-main .main-bottom .title {
  padding: 0 30px;
  height: 50px;
  line-height: 50px;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  background: -webkit-linear-gradient(#dbe2f1, #ebeef5); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#dbe2f1, #ebeef5); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#dbe2f1, #ebeef5); /* Firefox 3.6 - 15 */
  background: linear-gradient(#dbe2f1, #ebeef5); /* 标准的语法 */
}
.add-modify-manage .add-form-content .add-content-main .main-bottom .selectedNode {
  position: relative;
  font-size: 18px;
}
.add-modify-manage .add-form-content .add-content-main .main-bottom .selectedNode span {
  position: absolute;
  left: 10px;
  top: 23px;
  z-index: 9999;
}
.add-modify-manage .add-form-content .add-content-main .main-bottom .selectedNode .el-input__inner {
  /* padding-left: 80px; */
  border-radius: 0;
  border: 0;
  color: #333;
  font-size: 18px;
  height: 60px;
}
.add-modify-manage .add-form-content .add-content-main .main-bottom .right-content {
  height: 470px;
  overflow-y: auto;
}

.add-modify-manage .add-form-content .add-content-main .main-bottom .my-tree {
  padding: 10px;
  /*width: 330px;*/
  /*height: calc(100% - 80px);*/
  overflow: auto;
}
.add-modify-manage .add-form-content .add-content-main .main-bottom .my-tree .el-tree-node>.el-tree-node__children {
  overflow: visible;
}
.add-modify-manage .add-form-content .add-content-main .main-bottom .my-tree .el-tree-node__expand-icon {
  font-size: 18px;
}
.add-modify-manage .add-form-content .add-content-main .main-bottom .my-tree .el-tree-node__label {
  font-size: 18px;
}
.add-modify-manage .add-form-content .add-content-main .main-bottom .my-tree .el-tree-node__content {
  height: 40px;
}
.add-modify-manage .add-form-content .add-content-main .main-bottom .my-tree .is-current>.el-tree-node__content {
  background: #0080ff;
  color: #fff;
}
.add-modify-manage .add-form-content .add-content-control {
  padding-top: 30px;
  text-align: center;
}
.add-modify-manage .add-form-content .add-content-control .el-button {
  margin: 0 60px;
  width: 160px;
  height: 50px;
  font-size: 20px;
}
.add-modify-manage .footer {
  padding: 30px 0 10px 0;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #0080ff;
}
</style>
