<template>
  <div class="origin clearfix">
    <div class="menu-wrapper fl">
      <v-menu></v-menu>
    </div>
    <div class="main fl">
      <div class="top">
        <span class="fl">当前位置：</span>
        <v-breadcrumb :breadcrumbList="breadcrumbList" class="fl"></v-breadcrumb>
      </div>
      <div class="bottom clearfix">
        <div class="tree-box">
          <el-tree
            ref="myTree"
            node-key="id"
            class="my-tree"
            :data="treeData"
            :props="defaultProps"
            :default-expand-all="true"
            :highlight-current="true"
            :expand-on-click-node="false"
            @node-click="handleNodeClick"></el-tree>
        </div>
        <div class="devices-box">
          <div class="condition">
            <el-form :inline="true" :model="originForm" class="inline-form">
              <el-form-item label="上级名称:">
                <el-input clearable v-model="originForm.parentName"></el-input>
              </el-form-item>
              <el-form-item label="比对源名称:">
                <el-input clearable v-model="originForm.regionName"></el-input>
              </el-form-item>
              <el-form-item label="比对源编码:">
                <el-input clearable v-model="originForm.regionRegioncode"></el-input>
              </el-form-item>
              <el-form-item label="报警级别:">
                <el-select clearable v-model="originForm.regionAlarmlevel">
                  <el-option label="正常" value="0"></el-option>
                  <el-option label="严重报警" value="1"></el-option>
                  <el-option label="重要报警" value="2"></el-option>
                  <el-option label="一般报警" value="3"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item class="submit-btn">
                <el-button type="primary" icon="el-icon-search" @click="_getOriginList">查询</el-button>
              </el-form-item>
            </el-form>
          </div>
          <div class="list">
            <div style="height: 50px;">
              <el-button
                class="add-btn"
                type="primary"
                icon="el-icon-plus"
                v-show="showAddBtn"
                v-if="hasPerm('sys:region:add')"
                @click="addHandle">新增</el-button>
            </div>
            <div class="list-content">
              <el-table v-loading="loading" :data="originTableData.terminalList" stripe height="648" style="width: 100%">
                <el-table-column type="index" label="序号" width="70"></el-table-column>
                <el-table-column prop="parentName" label="上级名称"></el-table-column>
                <el-table-column prop="regionName" label="比对源名称"></el-table-column>
                <el-table-column prop="regionRegioncode" label="比对源编码"></el-table-column>
                <el-table-column prop="alarmlevel" label="报警级别"></el-table-column>
                <el-table-column prop="photomatchflag" label="是否图像比对">
                  <template slot-scope="scope">
                    <span class="enable" v-if="scope.row.photomatchflag === '停用'">停用</span>
                    <span class="able" v-else-if="scope.row.photomatchflag === '启用'">启用</span>
                  </template>
                </el-table-column>
                <el-table-column label="操作" width="200">
                  <template slot-scope="scope">
                    <a href="javascript:;" class="btn-click" v-if="hasPerm('sys:region:update')" @click="modifyHandle(scope.row)">修改</a>
                    <a href="javascript:;" class="btn-click" v-if="hasPerm('sys:region:delete')" @click="removeHandle(scope.row.id)">删除</a>
                  </template>
                </el-table-column>
              </el-table>
            </div>
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="originTableData.current"
              :page-size="originTableData.size"
              prev-text="上一页"
              next-text="下一页"
              layout="prev, pager, next, jumper"
              :total="originTableData.total">
            </el-pagination>
          </div>
        </div>
        <div class="footer">南京安智易达智能科技有限公司</div>
      </div>
    </div>
    <!--新增弹出层-->
    <v-message-box
      :show="addBox.show"
      :title="addBox.title"
      :submitText="addBox.submitText"
      :cancleText="addBox.cancleText"
      :width="addBox.width"
      :height="addBox.height"
      @close="closeAddBox"
      @submit="submitAddHandle">
      <div class="form-box clearfix">
          <el-form ref="addForm" :inline="true" :model="addFormData" :rules="rules">
            <el-form-item label="比对源名称:" prop="regionName">
              <el-input clearable v-model="addFormData.regionName"></el-input>
            </el-form-item>
            <el-form-item label="报警级别:" >
              <el-select clearable v-model="addFormData.regionAlarmlevel">
                <el-option label="正常" value="0"></el-option>
                <el-option label="严重报警" value="1"></el-option>
                <el-option label="重要报警" value="2"></el-option>
                <el-option label="一般报警" value="3"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="启用图像对比:">
              <el-select clearable v-model="addFormData.regionPhotomatchflag">
                <el-option label="停用" value="0"></el-option>
                <el-option label="启用" value="1"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item class="validity">
              <el-radio v-model="radio" label="0">长期有效</el-radio>
              <el-radio v-model="radio" label="1">自定义有效期</el-radio>
            </el-form-item>
            <el-form-item style="margin-left: -200px" v-show="radio === '1'">
              <el-date-picker clearable v-model="validity" value-format="yyyyMMdd" type="date" placeholder="有效时间"></el-date-picker>
            </el-form-item>
          </el-form>
      </div>
    </v-message-box>
    <!--删除-->
    <v-message-box
      :show="delBox.show"
      :title="delBox.title"
      :submitText="delBox.submitText"
      :cancleText="delBox.cancleText"
      :width="delBox.width"
      :height="delBox.height"
      @close="closeDelBox"
      @submit="submitDelHandle">
      <div class="tip-message">
        您确定要删除该条数据吗？
      </div>
    </v-message-box>
  </div>
</template>

<script type="text/ecmascript-6">
import OriginManage from './OriginManage.js'
export default OriginManage
</script>

<style>
  .origin {
    height: calc(100% - 80px);
  }
  .origin .menu-wrapper {
    padding-top: 61px;
    width: 299px;
    height: calc(100% - 61px);
    border-right: 1px solid #d5dade;
  }
  .origin .main {
    width: calc(100% - 300px);
    height: 100%;
  }
  .origin .main .top {
    padding-left: 30px;
    width: calc(100% - 30px);
    height: 60px;
    line-height: 60px;
    box-shadow: 0 1px 0 #d5dade;
    font-size: 18px;
  }
  .origin .main .top span {
    color: #666;
  }
  .origin .main .bottom {
    height: calc(100% - 60px);
    background-color: #fff;
    position: relative;
  }
  .origin .main .bottom .tree-box {
    z-index: 1;
    /*padding: 10px;*/
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 288px;
    overflow-x: auto;
    overflow-y: auto;
    background: #f6f8fe;
  }
  .origin .main .bottom .devices-box {
    position: absolute;
    left: 288px;
    top: 0;
    width: calc(100% - 288px);
    height: calc(100% - 38px);
    overflow-y: auto;
  }
  .origin .main .bottom .footer {
    z-index: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px 0 10px 0;
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: #0080ff;
  }

  .origin .main .bottom .devices-box .list {
    padding: 20px 30px;
  }
  .origin .main .bottom .devices-box .condition {
    border-bottom: 1px solid #d5dade;
    padding: 15px 30px 0;
  }
  .origin .main .bottom .condition .inline-form .el-form-item {
    margin: 0 15px 15px 0;
  }
  .origin .main .bottom .condition .inline-form .el-form-item .el-form-item__label {
    padding-right: 10px;
    font-size: 16px;
  }
  .origin .main .bottom .condition .inline-form .el-form-item .el-form-item__content {
    width: 150px;
  }
  .origin .main .bottom .list .add-btn {
    margin-bottom: 10px;
  }
  .origin .el-button--primary {
    padding: 11px 20px;
    font-size: 16px;
    font-weight: bold;
  }
  .origin .main .bottom .list .list-content {
    border: 1px solid #dae2ef;
    overflow: hidden;
  }
  .origin .el-table {
    margin-bottom: -1px;
  }
  .origin .el-table .able {
    color: #42b452;
  }
  .origin .el-table .enable {
    color: #f67809;
  }

  .origin .el-table td, .el-table th.is-leaf {
    text-align: center;
    font-size: 18px;
    color: #333;
  }
  .origin .el-table td {
    padding: 0;
    height: 49px;
  }
  .origin .el-table th.is-leaf {
    height: 60px;
  }
  .origin .el-table .btn-click {
    font-size: 18px;
    color: #237ae4;
  }
  .origin .el-table .btn-click.off {
    color: #999;
  }

  .origin .el-pagination {
    text-align: center;
    padding-top: 15px;
  }
  .origin .el-pagination button {
    height: 32px;
    line-height: 32px;
  }
  .origin .el-pagination button span {
    padding: 0 10px;
    height: 32px!important;
    line-height: 32px!important;
    font-size: 16px!important;
  }
  .origin .el-pagination .el-pager li {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
  }
  .origin .el-pagination .el-pagination__jump {
    font-size: 16px!important;
  }
  .origin .el-pagination .el-pagination__editor.el-input .el-input__inner {
    height: 32px;
    font-size: 16px;
  }
  /*删除*/
  .origin .tip-message {
    line-height: 100px;
    font-size: 18px;
    color: #333;
    text-align: center;
  }
  /*新增弹出层*/
  .origin .form-box .el-form {
    margin-top: 40px;
  }
  .origin .form-box .el-form .el-form-item {
    margin: 0 0 50px 0;
  }
  .origin .form-box .el-form .el-form-item .el-form-item__label {
    width: 150px;
    font-size: 18px;
    color: #333;
  }
  .origin .form-box .el-form .el-form-item .el-date-editor.el-input {
    width: 240px;
  }
  .origin .form-box .el-form .el-form-item .el-input__inner {
    border-color: #acacac;
    border-radius: 4px;
    height: 40px;
    width: 240px;
  }
  .origin .form-box .el-form .el-form-item .el-radio {
    font-size: 18px;
  }
  .origin .form-box .el-form .el-form-item .el-radio .el-radio__label {
    font-size: 18px;
    color: #333;
    font-weight: normal;
  }
  .origin .form-box .el-form .el-form-item.validity {
    padding-left: 30px;
    width: calc(60% - 30px);
  }

  /* tree's style */
  .origin .main .bottom .tree-box .my-tree {
    background: transparent;
    color: #666;
  }
  .origin .main .bottom .tree-box .my-tree .el-tree-node__content {
    height: 36px;
  }
  .origin .main .bottom .tree-box .my-tree .el-tree-node__content .el-tree-node__label {
    font-size: 18px;
  }
  .origin .main .bottom .tree-box .my-tree .el-tree-node__expand-icon {
    font-size: 18px;
  }

  .origin .main .bottom .tree-box .my-tree .is-current>.el-tree-node__content {
    background: #0080ff;
    color: #fff;
  }
</style>
