<template>
  <transition name="fade">
    <div class="message-box" v-if="show">
      <div class="content-box" :style="style">
        <div class="top-box clearfix">
          <div class="title fl">{{title}}</div>
          <div class="close fr" @click="close"></div>
        </div>
        <div class="main-box">
          <slot></slot>
        </div>
        <div class="bottom-box">
          <el-button type="primary" class="submit" @click="submit">{{submitText}}</el-button>
          <el-button v-if="cancleText !== null" class="cancle" @click="close">{{cancleText}}</el-button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  data () {
    return {
      style: null
    }
  },
  props: {
    show: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: '标题'
    },
    submitText: {
      type: String,
      default: '确定'
    },
    cancleText: {
      type: String,
      default: null
    },
    width: {
      type: Number,
      default: 0
    },
    height: {
      type: Number,
      default: 0
    }
  },
  watch: {
    width (val) {
      this.style = `
      width: ${val}px;
      margin-left: ${-(val / 2)}px;
      height: ${this.height}px;
      margin-top: ${-(this.height / 2)}px;
      `
    }
  },
  methods: {
    close () {
      this.$emit('close', false)
    },
    submit () {
      this.$emit('submit')
    }
  }
}
</script>

<style scoped>
  .message-box {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .message-box .content-box {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
  }
  .message-box .content-box .top-box {
    padding: 0 30px;
    height: 60px;
    line-height: 60px;
    background-color: #237ae4;
  }
  .message-box .content-box .top-box .title {
    padding: 0;
    color: #fff;
    font-size: 24px;
  }
  .message-box .content-box .top-box .close {
    margin-top: 20px;
    width: 20px;
    height: 20px;
    background: url(../../assets/images/icon_close.png) left center no-repeat;
    background-size: 20px 20px;
  }
  .message-box .content-box .bottom-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 79px;
    background-color: #f7f7f7;
    border-top: 1px solid #d5dade;
    text-align: center;
  }
  .message-box .content-box .bottom-box .el-button {
    margin: 10px 20px 0;
    width: 200px;
    height: 50px;
    font-size: 20px;
    vertical-align: middle;
  }
  .message-box .content-box .main-box {
    padding: 20px;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
</style>
