<template>
  <div class="quick-auth clearfix">
    <div class="menu-wrapper fl">
      <v-menu></v-menu>
    </div>
    <div class="main fl">
      <div class="top">
        <span class="fl">当前位置：</span>
        <v-breadcrumb :breadcrumbList="breadcrumbList" class="fl"></v-breadcrumb>
      </div>
      <div class="bottom">
        <div class="tree-box">
          <el-radio-group v-model="selectRoleList">
            <el-radio
              v-for="(role, index) in roleList"
              @click.native="selectCheck(role.id)"
              :class="{'select-check': role.id === roleId}"
              :key="index"
              :label="role.id">{{role.nameCn}}</el-radio>
          </el-radio-group>
        </div>
        <div class="content-box">
          <div class="main-bottom">
            <div class="title">功能权限</div>
            <div class="right-content">
              <el-tree
                ref="tree"
                class="my-tree"
                show-checkbox
                node-key="menuId"
                :props="defaultProps"
                :check-strictly="true"
                :expand-on-click-node="true"
                :default-checked-keys="selectMenuIdList"
                :data="menuList"></el-tree>
            </div>
          </div>
          <div class="add-content-control">
            <el-button type="primary" v-if="hasPerm('sys:role:fast')" @click="submitHandle">授权</el-button>
            <el-button v-if="hasPerm('sys:role:fast')" @click="resetHandle">重置</el-button>
          </div>
        </div>
        <div class="footer">南京安智易达智能科技有限公司</div>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import QuickAuth from './QuickAuth.js'
export default QuickAuth
</script>

<style>
  .quick-auth {
    height: calc(100% - 80px);
  }
  .quick-auth .menu-wrapper {
    padding-top: 61px;
    width: 299px;
    height: calc(100% - 61px);
    border-right: 1px solid #d5dade;
  }
  .quick-auth .main {
    width: calc(100% - 300px);
    height: 100%;
  }
  .quick-auth .main .top {
    padding-left: 30px;
    width: calc(100% - 30px);
    height: 60px;
    line-height: 60px;
    box-shadow: 0 1px 0 #d5dade;
    font-size: 18px;
  }
  .quick-auth .main .top span {
    color: #666;
  }
  .quick-auth .main .bottom {
    height: calc(100% - 60px);
    background-color: #fff;
    position: relative;
  }
  /*tree style*/
  .quick-auth .main .bottom .tree-box {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 268px;
    overflow-x: auto;
    overflow-y: auto;
    background: #f6f8fe;
  }
  .quick-auth .main .bottom .tree-box .el-radio-group {
    width: 100%;
  }
  .quick-auth .main .bottom .tree-box .el-radio {
    margin-left: 0;
    padding: 12px 0;
    display: block;
  }
  .quick-auth .main .bottom .tree-box .el-radio .el-radio__input {
    display: none;
  }
  .quick-auth .main .bottom .tree-box .el-radio.select-check {
    background-color: #1684fb;
  }
  .quick-auth .main .bottom .tree-box .el-radio.select-check .el-radio__label {
    color: #fff;
  }
  .quick-auth .main .bottom .tree-box .el-radio .el-radio__label {
    font-size: 18px;
    font-weight: normal;
    color: #606266;
    vertical-align: middle;
  }

  .quick-auth .main .bottom .content-box {
    position: absolute;
    left: 268px;
    top: 0;
    width: calc(100% - 268px);
    height: calc(100% - 38px);
    overflow-y: auto;
  }

  /*功能权限树*/
  .quick-auth .main .bottom .content-box .main-bottom {
    margin: 10px 20px;
    /*width: 350px;*/
    height: 760px;
    border: 1px solid #dae2ef;
    border-radius: 4px;
    overflow-y: hidden;
  }
  .quick-auth .main .bottom .content-box .main-bottom .title {
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    background: -webkit-linear-gradient(#dbe2f1, #ebeef5); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#dbe2f1, #ebeef5); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#dbe2f1, #ebeef5); /* Firefox 3.6 - 15 */
    background: linear-gradient(#dbe2f1, #ebeef5); /* 标准的语法 */
  }
  .quick-auth .main .bottom .content-box .main-bottom .selectedNode {
    position: relative;
    font-size: 18px;
  }
  .quick-auth .main .bottom .content-box .main-bottom .selectedNode span {
    position: absolute;
    left: 10px;
    top: 23px;
    z-index: 9999;
  }
  .quick-auth .main .bottom .content-box .main-bottom .selectedNode .el-input__inner {
    border-radius: 0;
    border: 0;
    color: #333;
    font-size: 18px;
    height: 60px;
  }
  .quick-auth .main .bottom .content-box .main-bottom .right-content {
    max-height: 722px;
    overflow-y: auto;
  }

  .quick-auth .main .bottom .content-box .main-bottom .my-tree {
    padding: 10px;
    overflow: auto;
  }
  .quick-auth .main .bottom .content-box .main-bottom .my-tree .el-tree-node>.el-tree-node__children {
    overflow: visible;
  }
  .quick-auth .main .bottom .content-box .main-bottom .my-tree .el-tree-node__expand-icon {
    font-size: 18px;
  }
  .quick-auth .main .bottom .content-box .main-bottom .my-tree .el-tree-node__label {
    font-size: 18px;
  }
  .quick-auth .main .bottom .content-box .main-bottom .my-tree .el-tree-node__content {
    height: 40px;
  }
  /*.quick-auth .main .bottom .content-box .main-bottom .my-tree .is-current>.el-tree-node__content {*/
    /*background: #0080ff;*/
    /*color: #fff;*/
  /*}*/

  .quick-auth .main .bottom .content-box .add-content-control {
    padding-top: 30px;
    text-align: center;
  }
  .quick-auth .main .bottom .content-box .add-content-control .el-button {
    margin: 0 60px;
    width: 160px;
    height: 50px;
    font-size: 20px;
  }

  /*页脚*/
  .quick-auth .main .bottom .footer {
    z-index: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px 0 10px 0;
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: #0080ff;
  }
</style>
