<template>
  <div id="app">
    <v-header></v-header>
    <router-view/>
  </div>
</template>

<script>
import vHeader from 'components/header'
export default {
  name: 'App',
  components: {
    vHeader
  }
}
</script>

<style>
@import 'assets/cssreset.css';
html, body {
  height: 100%;
}
#app {
  font-family: 'Microsoft Yahei', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebeff8;
  height: 100%;
}
</style>
